.section-agent-system{
    padding-top: 55px;
    .agent-system{
        &__title{
            margin-bottom: 17px;
        }
        &__content{
            width: 49%;
            text-align: justify;
        }
    }
}