.section-export-business{
    padding-top: 55px;
    .export-business{
        &__title{
            margin-bottom: 17px;
        }
        &__image{
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            img{
                max-width: 49.5%;
                flex: 1 49.5%;
                height: auto;
            }
        }
    }
}