.section-brand{
    @media only screen and (max-width: 1080px){
        padding-bottom: 5%;
        
    }
    @media only screen and (max-width: 767px){
        padding-bottom: 8%;
        padding-top: -5%;
        
    }
.brand-block{
    // padding-bottom: 21%;
    box-sizing: border-box;
    padding-top: 5vh; 
    line-height: 1.5;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10%;
    @media only screen and (max-width: 1080px){
        // padding-bottom: 25%;
        
    }
    @media only screen and (max-width: 767px){
        //   padding-bottom: 35%;
            
    }

    &:last-child {
        margin-bottom: 0;
    }
    .tabs {
        @media only screen and (max-width: 1080px){
            margin: 0;
            
        }
       
        display: flex;
        flex-wrap: wrap;
        // height: 40px;
        width: 100%;
        margin-left: 8%;
        
        .brand-name{
            // border-right: 5px solid $color-primary;
            // height: 86%;
            // @include height(30);
            margin-top: .5%;
            margin-left: 0.66%;
            margin-right: 2%;
            @media(max-width : 1710px){
                // height: 82%;
                transform: translateY(1.5px);
                margin-left: 8px;
            }
            @media(max-width : 1600px){
                // height: 75%;
                transform: translateY(2.5px);
                margin-left: 8px;
            }
            @media(max-width : 1400px){
                // height: 67%;
                transform: translateY(4px);
                margin-left: 8px;
            }
            @media(max-width : 1300px){
                // height: 62%;
                transform: translateY(7px);
                margin-left: 8.5px;
            }
            @media(max-width : 1100px){
                // height: 50%;
                transform: translateY(11.8px);
                margin-left: 9px;
                // border-right: 3px solid $color-primary;
            }
            h3{
                padding-right: 50px;
                transform: translateY(-8px);
                
                @media only screen and (max-width: 767px){
                   padding-right: 30px;       
                }
                @media(max-width : 1710px){
                    transform: translateY(-8.5px);
                }
                @media(max-width : 1600px){
                    transform: translateY(-7.5px);
                }
                @media(max-width : 1400px){
                    transform: translateY(-4.7px);
                }
                @media(max-width : 1300px){
                    transform: translateY(-5px);
                }
                @media(max-width : 1100px){
                    transform: translateY(-6.2px);
                }

                &::after {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 20%;
                    bottom: 30%;
                    width: 5px;
                    background-color: $color-primary;
                }
            }
            
        }

        // .nav-brand {

        //     .name {
        //         // 
        //         @include paddingRight(100);
        //         @include marginRight(100, "+");
        //         position: relative;

        //         &::after {
        //             position: absolute;
        //             top: 20%;
        //             bottom: 30%;
        //             right: 0;
        //             content: "";
        //             width: 5px;
        //             background-color: $color-primary;
        //         }
        //     }
        //     >span {
        //         align-self: center;
        //         color: $color-primary;
        //         @include marginRight(40, "+");
        //     }
        // }
        label {
            order: 1;
            display: flex;
            padding: 1rem;
            margin-right: .5rem;
            cursor: pointer;
            color: $color-primary;
            transition: background ease 0.3s;
            // @media only screen and (max-width: 767px){
            //     padding-right: .2rem;
            //     padding-bottom: .25rem;            
            // }
          }
          .tab {
            order: 9;
            flex-grow: 1;
            width: 100%;
            height: 100%;
            display: none;
            padding: 1rem;
            background: #fff;
            padding: 10px;
            h1{
                text-transform: uppercase;
            }

            .brand-logo{
                display: flex;
                flex-wrap: wrap;
                margin-top: 2%;
                margin-left: -7%;
                margin-right: -7%;
                .logo-img{
                    max-width: 25%;
                    flex: 1 25%;
                    padding-right: 7%;
                    padding-left: 7%;
                    position: relative;

                    @media (max-width: 576px) {
                        max-width: 33.33336%;
                        flex: 0 0 33.33336%;
                    }

                    img{
                        position: relative;
                        width: 100%;
                        height: auto;

                    }
                    &::before{
                        position: absolute;
                        top: 0;
                        left: -75%;
                        z-index: 2;
                        display: block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);
                        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);
                        -webkit-transform: skewX(-25deg);
                        transform: skewX(-25deg);
                    }
                    &:hover::before {
                        -webkit-animation: shine 2s;
                        animation: shine 2s;
                    }
                    @-webkit-keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }
                    @keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }
                }
               
                
            }
          
          }
          input[type="radio"] {
            display: none;
          }
          input[type="radio"]:checked + label {
            background: #fff;
          }
          input[type="radio"]:checked + label + .tab {
            display: block;
          }
          @media (max-width: 465px) {
            .tabs .tab,
            .tabs label {
             order: initial;
            }
           
            .tabs label {
              width: 100%;
              margin-left: 50px;
            }
      }
       
          
      }

}
}