.section-brand {
    @media only screen and (max-width: 1080px) {
        padding-bottom: 5%;
    }
    @media only screen and (max-width: 767px) {
        padding-bottom: 8%;
        padding-top: -5%;
    }
    .brand-block {
        // padding-bottom: 21%;
        box-sizing: border-box;
        padding-top: 50px;
        line-height: 1.5;
        margin: 0 auto;
        display: flex;
        margin-bottom: 3%;
        @media only screen and (max-width: 1080px) {
            margin-bottom: 3%;
        }
        @media only screen and (max-width: 767px) {
            margin-bottom: 3%;
        }
        .tabs {
            @media only screen and (max-width: 1080px) {
                margin: 0;
            }
            display: flex;
            flex-wrap: wrap;
            // height: 40px;
            width: 100%;
            //margin-left: 8%;
            .brand-name {
                position: relative;
                line-height: initial;
                @include paddingRight(50);
                @include marginRight(50, "+");
                &::after {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 15%;
                    bottom: 30%;
                    @include width(5);
                    background-color: $color-primary;
                    @media (max-width: 1080px) {
                        top: 2%;
                    }
                }
            }
            label {
                line-height: initial;
                order: 1;
                @include marginRight(56, "+");
                margin-top: 0.7%;
                display: flex;
                cursor: pointer;
                color: $color-primary;
                transition: background ease 0.3s;
                @media (max-width: 1080px) {
                    margin-top: 1.4%;
                }
                @media (max-width: 576px) {
                    margin-top: 0.6%;
                }
            }
            .tab {
                order: 9;
                flex-grow: 1;
                width: 100%;
                display: none;
                background: #fff;
                @include mobileMarginTop(15, "+");
                h1 {
                    text-transform: uppercase;
                }
                .brand-logo {
                    // display: grid;
                    // flex-wrap: wrap;
                    // align-items: center;
                    // margin-top: 2%;
                    // margin-left: -7%;
                    // margin-right: -7%;
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    @media (max-width: 768px) {
                        grid-template-columns: repeat(2,1fr);
                    }
                    row-gap: 3vw;
                    column-gap: 5vw;
                    img{
                        display: block;
                        margin: 0 auto;
                        max-width: 80%;
                        height: 7vw;
                        margin-top: 20px;
                        object-fit: contain;
                        position: relative;
                        @media (max-width: 768px) {
                            height: 15vw;
                        }
                    }
                    a{
                        position: relative;
                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0%;
                            z-index: 2;
                            display: block;
                            content: '';
                            width: 20%;
                            height: 100%;
                            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
                            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
                            -webkit-transform: skewX(-25deg);
                            transform: skewX(-25deg);
                            pointer-events: none;
                        }
                        &:hover::before {
                            transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                            left: 70%;
                        }
                    }
                    .logo-img {
                        // max-width: 25%;
                        // flex: 1 25%;
                        // padding-right: 7%;
                        // padding-left: 7%;
                        // position: relative;
                        // @media (max-width: 576px) {
                        //     max-width: 33.33336%;
                        //     flex: 0 0 33.33336%;
                        //     padding-bottom: 20px;
                        // }
                        img {
                            // position: relative;
                            // width: 100%;
                            // height: auto;
                            // @media (min-width: 1080px) {
                            //     transform: scale(0.8);
                            // }
                        }
                        
                    }
                }
            }
            input[type="radio"] {
                display: none;
            }
            input[type="radio"]:checked+label {
                background: #fff;
            }
            input[type="radio"]:checked+label+.tab {
                display: block;
            }
            @media (max-width: 465px) {
                .tabs .tab,
                .tabs label {
                    order: initial;
                }
                .tabs label {
                    width: 100%;
                    margin-left: 50px;
                }
            }
        }
    }
}