#production-assemble-page {
    img {
        max-width: 100%;
    }
    .section-card {

        &__body {

        }

        &__row {

            &__picture {
                height: 494px;
                overflow: hidden;
                @media (max-width: 1680px) {
                    height: #{calculatorPixel(494,1680)}px;
                }
                @media (max-width: 1360px) {
                    height: #{calculatorPixel(494,1360)}px;
                }
                @media (max-width: 991px) {
                    height: max-content;
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                }

                img {
                    height: auto;
                    width: 100%;

                    @media (min-width: 992px) {
                        min-height: 100%;
                    }
                }
            }

            &__content {
                padding-bottom: 40px;
                position: relative;

                @media (max-width: 1360px) {
                    padding-bottom: 20px;
                }
                @media (max-width: 991px) {
                    padding-left: 15px !important;
                    padding-right: 15px !important; 
                }

            }

            &__body {
                // padding-top: 50px;
                // @media (max-width: 1360px) {
                //     padding-top: 20px;
                // }

                // @media (max-width: 992px) {
                //     padding-top: 10px;
                // }


                .number-order {
                    position: relative;
                    
                    &::before {
                        position: absolute;
                        content: "";
                        width: 55px;
                        height: 3px;
                        top: 50%;
                        transform: translate(-100%, -50%);
                        left: 0;
                        background-color: $color-primary;
                        @media (max-width: 1360px) {
                            width: 20px;
                        }
                    }

                    
                    @media (max-width: 991px) {
                        order: 2;
                        flex-grow: 1;

                        &::before {
                            width: calc(100% - 100px);
                            left: inherit;
                            right: 0;
                            transform: translate(-50px, -50%);
                        }

                        // &::after {
                        //     position: absolute;
                        //     content: "";
                        //     height: 100%;
                        //     width: 1px;
                        //     left: 50px;
                        //     top: 0;
                        //     background-color: $color-primary;
                        // }
                    }

                    .box {
                        width: 50px;
                        height: 50px;
                        background-color: $color-primary;
                        color: $color-white;
                        text-align: center;
                        line-height: 55px;
                        margin-right: auto;

                        @media (max-width: 991px) {
                            margin-left: auto;
                            margin-right: 0;
                        }
                    }

                }
                
                &__title {
                    margin-bottom: 40px;
                    padding-top: 50px;
                    @media (max-width: 1360px) {
                        padding-top: 20px;
                        margin-bottom: 30px;
                    }

                    @media (max-width: 991px) {
                        margin-bottom: 20px;
                        order: 1;
                    }
                }
                
                &__des {
                    @include split_str(6);
                    text-align: justify;
                }
            }

            &__footer {

            }

        }

        >div:nth-child(odd) {
            .section-card__row {
                &__picture {
                    order: 1;
                    padding-right: 0;
                }
                &__content {
                    padding-left: 55px;
                   
                    @media (max-width: 1360px) {
                        padding-left: 20px;
                    }
                    order: 2;
                }
            }
        }

        >div:nth-child(even) {
            .section-card__row {
                &__picture {
                    order: 2;
                    padding-left: 0;
                }
                &__content {
                    order: 1;
                    padding-right: 55px;
                    
                    @media (max-width: 1360px) {
                        padding-right: 20px;
                    }
                    @media (min-width: 992px) {
                        justify-content: flex-end;
                        text-align: right;
                    }
                }

                @media (max-width: 991px) {
                    &__picture {
                        order: 1;
                    }
                    &__content {
                        order: 2;
                    }
                }

                .number-order {
                    .box {
                        margin-left: auto;
                        margin-right: 0;
                    }
                    &::before {
                        left: inherit;
                        right: 0;
                        @media(min-width: 992px) {
                            transform: translate(100%, -50%);
                        }
                    }
                }
            }
        }
    }

    .box-node-left {
        position: fixed;
        top: 270px;
        left: 0;

        .box-symbol, .box-text {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 68px;
        }

        .box-symbol {
            background-color: $color-primary;
            width: 72px;
            border: 1px solid white;
            padding-left: 10px;
            border-bottom: none;
        }

        .box-text {
            font-size: 27px;
            color: white;
            background-color: $color-primary;
            padding-left: 20px;
            padding-right: 20px;
            display: none;
        }

        .box-text.active {
            display: flex;
        }

        >div:first-child {
            .box-symbol {
                border-top: none;
            }
        }
    }

    .box-node-right {
        position: fixed;
        top: 45%;
        right: 0;

        .pagination-customize {
            border-right: 1px solid $color-primary;
            .pagi-item {
                font-family: $font-primary-bold;
                text-align: right;

                .number, .text {
                    height: 50px;
                    display: inline-block;
                    line-height: 53px;
                    text-align: center;
                }

                .text {
                    padding-left: 15px;
                    padding-right: 15px;
                    text-transform: uppercase;
                    border: 1px solid $color-primary;
                    display: none;
                }

                .number {
                    width: 50px;
                    border-bottom: 1px solid $color-primary;
                    border-left: 1px solid $color-primary;
                   
                    
                    font-size: 25px;
                    margin-left: auto;
                }

                &:hover {
                   display: flex;
                    .text {
                        background-color: $color-primary;
                        color: $color-white;
                        display: inline-block;
                    }
                    .number {
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
            }

            >li:first-child {
                .number {
                    border-top: 1px solid $color-primary;
                }
            }
            .pagi-item.active {
                display: flex;
                .text {
                    background-color: $color-primary;
                    color: $color-white;
                    display: inline-block;
                }
                .number {
                    background-color: $color-primary;
                    color: $color-white;
                }
            }
        }
    }
}