#research-development-page {
    .section-intro-wrapper {
        @include marginTop(80, "+");

        .section-intro {
            border-top: 10px solid $color-primary;
            border-left: 2px solid $color787878;
            border-right: 2px solid $color787878;
            @include paddingY(50);
            @include paddingX(40);
            &__title {
               @include marginBottom(22,"+");
               
            }
            .rd-production__content{
               
            }
           
        }
    }

    .section-intro-bannerFull {
        @media only screen and (max-width: 1080px){
            display: none;       
        }
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        font-family: $font-my-bold;

        .bg-opacity {
            background-color: rgba($color: #000000, $alpha: 0.6);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            @include paddingY(50);
            position: relative;
           

            .column-left {
                padding-right: 100px;
                .title {
                    @include marginBottom(10,"+");
                    line-height: 1.1;
                }

                .sub-title {
                    font-family: $font-primary;
                }
            }
            
            .column-right {
                // @media only screen and (max-width: 992px){
                //     display: none;    
                       
                // }
               
                @include paddingY(90);
                position: relative;
                @include paddingLeft(100);
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 4px;
                    background-color: $color-white;
                }

                .item {
                    display: grid;
                    grid-template-columns: 35% 100%;
                    color: $color-white;
                    align-items: flex-end;
                    @include marginBottom(50,"+");

                    .description {

                        .number {
                            font-size: 45px;
                            font-weight: bold;
                        }
    
                        .text {
                            font-size: 25px;
                            font-family: $font-cond;
                        }
                    }
                }
                >.item:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }


    .section-intro-bannerFull-mobile {
        display: none;
    
        @media only screen and (max-width: 1080px){
            display: block;       
        
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        font-family: $font-my-bold;

        .bg-opacity {
            background-color: rgba($color: #000000, $alpha: 0.6);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            @include paddingY(50);
            position: relative;

            .column-left {
                padding-right: 50px;
                .title {
                    line-height: 1.1;
                    @include marginBottom(15,"+");
                    @media only screen and (max-width: 600px){line-height: 0.9;}
                    @media only screen and (max-width: 420px){line-height: 1;}
                    @media only screen and (max-width: 360px){line-height: 0.8;}
                    .text1{
                        font-size: 25px;
                        @media only screen and (max-width: 600px){
                            font-size: 12px;
                           
                        }
                        @media only screen and (max-width: 420px){
                            font-size: 10px;
                           
                        }
                        @media only screen and (max-width: 360px){
                            font-size: 10px;
                           
                        }
                    }
                    .text2{
                        font-size: 50px;
                        @media only screen and (max-width: 600px){
                            font-size: 20px;
                           
                        }
                        @media only screen and (max-width: 400px){
                            font-size: 20px;
                            
                           
                        }
                        @media only screen and (max-width: 360px){
                            font-size: 18px;
                           
                        }
                    }
                }

                .sub-title {
                    font-family: $font-primary;

                    @media only screen and (max-width: 600px){
                        font-size: 6px;
                        margin-top: -10px;
                       
                    }
                    @media only screen and (max-width: 420px){
                        font-size: 10px;
                        width: 200px;
                        text-align: left;
                        margin-top: -12px;
                        margin-left: -20px;
                       
                    }
                    @media only screen and (max-width: 360px){
                        font-size: 8px;
                       
                    }
                }
            }

            .column-right {
                // @include paddingY(90);
                // position: relative;
                // @include paddingLeft(100);
                padding-top: 5%;
                padding-bottom: 5%;
                padding-left: 7%;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 4px;
                    background-color: $color-white;
                }

                .item {
                    display: grid;
                    grid-template-columns: 20% 100%;
                    color: $color-white;
                    align-items: flex-end;
                    @include marginRight(5,"+");
                    @include marginBottom(30,"+");
                    .symbol{
                        img{
                            width: 30px;
                            height: 30px;
                            padding-bottom: -20px;
                            @include marginRight(20, "+");
                            @media only screen and (max-width: 400px){
                                width: 20px;
                                height: 20px;
                               
                            }
                        }
                    }
                    @media only screen and (max-width: 600px){
                        @include marginBottom(7,"+");
                       
                    }
                    @media only screen and (max-width: 400px){
                       margin-bottom: -7px;
                       
                    }
                    .symbol{
                        @media only screen and (max-width: 600px){
                            margin-top: -10px;
                           
                        }
                       
                       
                       
                    }
                    .description {
                        @media only screen and (max-width: 600px){
                            padding-left: 20px;
                            margin-top: 20px;
                           
                        }
                        @media only screen and (max-width: 400px){
                            padding-left: 7px;
                            margin-top: 18px;
                           
                        }
                        .number {
                            font-size: 20px;
                            font-weight: bold;
                            @media only screen and (max-width: 768px){
                                font-size: 18px;
                               
                            }
                            @media only screen and (max-width: 600px){
                                font-size: 15px;
                               
                            }
                            @media only screen and (max-width: 400px){
                                font-size: 12px;
                               
                            }
                        }
    
                        .text {
                            font-size: 18px;
                            font-family: $font-cond;
                            @media only screen and (max-width: 768px){
                                font-size: 15px;
                               
                            }
                            @media only screen and (max-width: 600px){
                                font-size: 10px;
                               
                            }
                            @media only screen and (max-width: 400px){
                                font-size: 8px;
                               
                            }
                        }
                    }
                }
                >.item:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    }










    .section-info-more-wrapper {
        @include marginTop(80, "+");
        @media only screen and (max-width: 1080px){  @include marginTop(40, "+");}
        .content {
            @include marginBottom(80, "+");
            @media only screen and (max-width: 1080px){  @include marginBottom(30, "+");}
            .title {
                @include marginBottom(20, "+");
                
                @media only screen and (max-width: 600px){
                   
                    line-height: 1.2;
                    
                   
                }
               
            }

            ul {
                padding-left: 1rem;
                @include marginBottom(38, "+");
                
                li {
                    list-style: initial;
                }
                @media only screen and (max-width: 1080px){
                    display: none;
                }
            }

            p {
                @include marginBottom(38, "+");
                @media only screen and (max-width: 992px){
                    margin-top: 3%;
                    margin-bottom: 3%;
                    line-height: 1.2;
                }
               
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
        .list-image-mobile{
            display: none;
            @media only screen and (max-width: 1080px){
                display: block;       
                .swiper-slide{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                    .text{
                        line-height: 1.2;
                    }
                } 
                .news{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 5% 0;
                    border-bottom: 1px solid #d0d0d0;
                    
                    .left{
                        width: 50%;

                        img{
                            
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .right{
                        width: 50%;
                        padding-left: 5%;
                        h3{

                        text-align: left;
                        justify-content: center;  
                       
                        
                        }
                        
                    }
                } 
                .news:last-child {
                    border-bottom: none;
                   
                 }
                 
            }
        }
        .list-image {
           
            .swiper-container {
                @media only screen and (max-width: 1080px){
                    display: none;      
                           
                }
                margin-left: -15px;
                margin-right: -15px;
    
                img {
                    max-width: 100%;
                }
    
                >div {
                    padding-left: 15px;
                    padding-right: 15px;
                }
    
                padding-bottom: 20px;
                margin-left: -100px;
                margin-right: -100px;
                width: calc(100% + 200px);
                .swiper-scrollbar {
                    width: calc(80% - 185px);
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    .swiper-scrollbar-drag {
                        background-color: #2e3a41;
                    }
                }
            }
            
        }
        .rnd-news-mobile{
            display: none;
            @media only screen and (max-width: 1080px){
                display: block;      
                       
                &__wrapper{
                    margin-bottom: 5%;
                    .top{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .bottom{
                        margin-top: 3%;
                        font-size: 18px;
                        @media only screen and (max-width: 992px){
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .section-list-news-wrapper {
        @include marginBottom(80, "+");
        .section-list-news {
            @include paddingTop(60);
            .title {
                font-family: $font-my-bold;
            }
            .content {
                img {
                    max-width: 100%;
                }

                .item {
                    @include paddingY(50);
                    border-bottom: 1px solid #d0d0d0;
                    display: flex;
                    @media(max-width: 768px) {
                        flex-wrap: wrap;
                    }

                    .read-more {
                       margin-top: 1.5rem;
                    }

                    &__left {
                        display: flex;
                        @media (max-width: 768px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .sub--left {
                            background-color: $color-primary;
                            text-align: center;
                            color: $color-white;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: center;
                            width: 230px;
                            height: 226px;
                            @include width(230);
                            @include height(226);

                            >div {
                                flex: 0 0 100%;
                                max-width: 100%;
                            }

                            .day, .month{
                                font-size: 40px;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            .year {
                                font-size: 20px;
                            }
                        }
                        .sub--right {
                            padding-left: 0;

                            @include width(336);
                            @include height(226);

                            @media (max-width: 768px) {
                                width: max-content;
                            }

                            a {
                                display: inline-block;
                                height: 100%;
                            }
                          
                            img {
                                height: 100%;
                                object-fit: cover;
                                @media (min-width: 769px) {
                                    width: 100%;
                                    min-width: 100%;
                                }
                            }

                            @media (max-width: 992px) {
                                padding: 0;
                                flex-grow: 1;
                            }
                        }
                    }

                    &__right {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: space-between;
                        flex-grow: 1;
                        max-width: 47%;
                        @include paddingLeft(55);
                        @include paddingY(20);
                        @media (max-width: 768px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            padding-left: 0;
                        }

                        &__top {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }

                        .title {
                            font-family:  $font-primary;
                            color: #01498b;
                            @include split_str(2);
                            @include marginBottom(12, "+");
                        }

                        .description {
                            color: #01498b;
                            font-family:  $font-primary;
                            @include split_str(3);
                            @media (max-width: 992px) {
                                @include split_str(2);
                            }
                        }
                    }
                }
            }
        }
    }
}

.read-more {
    color: #01498b;
    text-transform: uppercase;
}

.line-border {
    height: 5px;
    background-color: #d5d5d5;
    margin-top: 15px;

    .dark {
        background-color: #2e3a41;
        width: 30%;
        height: 100%;
    }
}

@media (max-width: 992px) {

    #research-development-page {
    
        .section-intro-bannerFull {

            .content {
                display: block;

                .column-left {
                    @include paddingBottom(50);
                    padding-right: 0;
                }

                .column-right {
                    text-align: center;
                    padding-left: 0;
                    padding-bottom: 0;
                    padding-top: 50px;

                    &::before {
                        bottom: inherit;
                        width: 90%;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 4px;
                    }

                    .item {
                        grid-template-columns: 80px max-content;
                        justify-content: center;
                    }
                }
            }
        }
    }
}