#research-development-page {
    .section-intro-wrapper {
        margin-top: 80px;

        .section-intro {
            border-top: 10px solid $color-primary;
            border-left: 2px solid $color787878;
            border-right: 2px solid $color787878;
            padding: 50px 40px; 
            &__title {
                margin-bottom: 1.5rem;
                @media(max-width: 992px) {
                    margin-bottom: 1rem;
                }
            }
            @media (max-width: 768px) {
                padding: 40px 30px; 
            }
        }
    }

    .section-intro-bannerFull {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        font-family: $font-my-bold;

        .bg-opacity {
            background-color: rgba($color: #000000, $alpha: 0.6);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 50px;
            position: relative;

            .column-left {
                padding-right: 100px;
                .title {
                    margin-bottom: 1rem;
                }

                .sub-title {
                    font-family: $font-primary;
                }
            }

            .column-right {
                padding-top: 90px;
                padding-bottom: 90px;
                position: relative;
                padding-left: 100px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 4px;
                    background-color: $color-white;
                }

                .item {
                    display: grid;
                    grid-template-columns: 35% 100%;
                    margin-bottom: 50px;
                    color: $color-white;
                    align-items: flex-end;

                    .description {

                        .number {
                            font-size: 45px;
                            font-weight: bold;
                        }
    
                        .text {
                            font-size: 25px;
                            font-family: $font-cond;
                        }
                    }
                }
                >.item:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .section-info-more-wrapper {
        padding-top: 60px;
        .content {
            padding-bottom: 60px;

            .title {
                margin-bottom: 1.5rem;
            }

            ul {
                padding-left: 1rem;
                margin-bottom: 1rem;
                li {
                    list-style: initial;
                }
            }

            p {
                margin-bottom: 1rem;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }

        .list-image {
            margin-left: -15px;
            margin-right: -15px;

            img {
                max-width: 100%;
            }

            >div {
                padding-left: 15px;
                padding-right: 15px;
            }

            .swiper-container {
                padding-bottom: 20px;
                margin-left: -100px;
                margin-right: -100px;
                width: calc(100% + 200px);
            }
            .swiper-scrollbar {
                width: 80%;
                left: 50%;
                transform: translateX(-50%);

                .swiper-scrollbar-drag {
                    background-color: #2e3a41;
                }
            }
        }

        .list-news {
            padding-top: 60px;
            .title {
                font-family: $font-my-bold;
            }
            .content {
                img {
                    max-width: 100%;
                }

                .item {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    border-bottom: 1px solid #d0d0d0;
                    display: flex;
                    @media(max-width: 992px) {
                        flex-wrap: wrap;
                    }

                    .read-more {
                       margin-top: 1.5rem;
                    }

                    &__left {
                        display: flex;
                        @media (max-width: 992px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .sub--left {
                            background-color: $color-primary;
                            text-align: center;
                            color: $color-white;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: center;
                            width: 230px;
                            height: 226px;
                            @media(max-width: 1680px) {
                                width: 200px;
                                height: 197px;
                            }

                            @media (max-width: 992px) {
                                width: 35%;
                                padding-top: 1rem;
                                padding-bottom: 1rem;
                            }

                            @media (max-width: 576px) {
                                height: 120px;
                                width: 40%;
                            }

                            >div {
                                flex: 0 0 100%;
                                max-width: 100%;
                            }

                            .day, .month{
                                font-size: 40px;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            .year {
                                font-size: 20px;
                            }
                        }
                        .sub--right {
                            padding-left: 0;
                            width: 336px;
                            height: 226px;
                            @media (max-width: 1680px) {
                                width: 294px;
                                height: 197px;
                            }
                          
                            img {
                                height: 100%;
                                @media (max-width) {
                                    height: auto;
                                }
                                min-width: 100%;
                            }

                            @media (max-width: 992px) {
                                padding: 0;
                                flex-grow: 1;
                            }

                            @media (max-width: 576px) {
                                height: 120px;
                            }
                        }
                    }

                    &__right {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: space-between;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        flex-grow: 1;
                        padding-left: 55px;
                        max-width: 47%;
                        @media (max-width: 992px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            padding-left: 0;
                        }

                        &__top {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }

                        .title {
                            font-family:  $font-primary;
                            color: #01498b;
                        }

                        .description {
                            color: #01498b;
                            font-family:  $font-primary;
                        }
                    }
                }
            }
        }
    }
}

.read-more {
    color: #01498b;
    text-transform: uppercase;
}

.line-border {
    height: 5px;
    background-color: #d5d5d5;
    margin-top: 15px;

    .dark {
        background-color: #2e3a41;
        width: 30%;
        height: 100%;
    }
}

@media (max-width: 992px) {

    #research-development-page {
    
        .section-intro-bannerFull {

            .content {
                display: block;

                .column-left {
                    padding-bottom: 50px;
                    padding-right: 0;
                }

                .column-right {
                    text-align: center;
                    padding-left: 0;
                    padding-bottom: 0;
                    padding-top: 50px;

                    &::before {
                        bottom: inherit;
                        width: 90%;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 4px;
                    }

                    .item {
                        grid-template-columns: 80px max-content;
                        justify-content: center;
                    }
                }
            }
        }
    }
}