.section-support-industry-overview {
    
    .mechandical-overview {
        
        &__boxfield {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1.7vw;
            @media (max-width: 1080px) {
                margin-left: -15px;
                margin-right: -15px;
                grid-template-columns: repeat(4, 1fr);
            }
            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
            
            .boxfield-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #F5F5F5;
                text-align: center;
                padding: 10% 7%;
                img{
                    margin-bottom: 5%;
                    flex: 1;
                    object-fit: contain;
                    max-height: 4vw;
                    @media (max-width: 1080px) {
                        max-height: 15vw;
                    }
                }
                .name {
                    margin-top: 6%;
                    line-height: 1.2;
                    /* flex: 1; */
                    flex-shrink: 0;
                   
                }
            }
        }
    }
    
}


