.section-support-industry-tab {
    @media only screen and (max-width: 1080px){
        display: none;       
               
   }
    .mechanical-tab-wrapper {
        // display: table;
        // margin: 0 auto;
        .mechanical-tab__content{
           

/* Style the tab */
.tab {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
      .tablinks{
          font-family: $font-primary-bold;
      }
    button {
      display: block;
      margin-bottom: 4.68%;
      background-color: inherit;
      color: $color787878;
      background-color: #fff;
      padding: 7.7% 0;
      width: 100%;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px;
    transition: .3s ease-in-out;
    @media(max-width : 1720px){
        margin-bottom: 4.85%;
    }   
    @media(max-width : 1600px){
        margin-bottom: 7.4%;
    } 
    @media(max-width : 1400px){
        margin-bottom: 7.9%;
    } 
    @media(max-width : 1300px){
        margin-bottom: 9%;
    } 
  
    @media(max-width : 1100px){
        margin-bottom: 12.1%;
    }  
    }
    button:hover {
      background-color: $color-primary;
      color: #fff;
     
    }
    button.active {
        background-color: $color-primary;
        color: #fff;
      }
    
  }
    
  
  
  .tabcontent {
      width: 100%;
      color: #fff;
      background-color: $color-primary;
      
      border-left: none;
      height: auto;
      img{
          width: 100%;
      }
      .content-bottom{
        h4{
            padding: 0 2%;
            font-family: $font-primary-bold;
        }
        p{
            padding: 0 2%;
        }
        .read-more {
            margin: 2%;
            padding: 0 2%;
            color: $color-primary;
            border: 1px solid #fff;
            text-decoration: none;
            font-family: $font-primary-bold;
            background-color: #fff;
            width: max-content; 
       }
      }
    
    }

}

}


}
    
        
   
        
.section-support-industry-mobile-tab {
    display: none;
    @media only screen and (max-width: 1080px){
        display: block;       
               
   
    .mechanical-tab-wrapper {
        .mechanical-tab__content{

.tab {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
      .tablinks{
          font-family: $font-primary-bold;
      }
    button {
      display: block;
      margin-bottom: 4.68%;
      background-color: inherit;
      color: #000;
      background-color: #fff;
      padding: 7.7% 0;
      width: 100%;
      border: none;
      outline: none;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px;
    transition: .3s ease-in-out;
    
    }
    button:hover {
      background-color: $color-primary;
      color: #fff;
     
    }
    button.active {
        background-color: $color-primary;
        color: #fff;
      }
    
  }
    
  
  
  .tabcontent{
      width: 100%;
      color: #fff;
      background-color: $color-primary;
      padding: 0;
      border-left: none;
      height: auto;
      img{
          width: 100%;
      }
      .content-bottom{
        h4{
            font-size: 30px;
            padding: 2%;
            font-family: $font-primary-bold;
        }
        p{
            padding: 0 2%;
            font-size: 18px;
        }
        .read-more {
            display: none;
           
       }
      }
    
    }

}

}

}
}
    
        
   
        
