#page-wrap{
    padding-top: 110px;
}

.header{
    
    background: rgba(0 ,0 , 0 , 0.5);
    height: 80px;
    position: fixed;
    top: 20px;
    left: 1%;
    right: 1%;
    z-index: 88;
    transition: all 0.7s ease-out;
    @media(max-width : 1680px){
        height: 75px;
    }
    @media(max-width : 1620px){
        height: 65px;
    }
    @media(max-width : 1520px){
        height: 60px;
    }
    @media(max-width : 1440px){
        height: 55px;
        top: 10px;
    }
    @media(max-width : 1199px){
        height: 50px;
    }
    .header-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .logo{
            @media(max-width : 1360px){
                width: 20%;
                img{
                    width: 100%;
                    height: auto;
                    min-width: 160px;
                }
            }
        }
        .main-menu{
            margin-left: 3.5%;
            ul{
                display: flex;
                align-items: center;
                li.menu-big{
                    margin-right: 88px;
                    position: relative;
                    &:last-child{
                        margin-left: 0;
                    }
                    @media(max-width : 1919px){
                        margin-right: 60px;
                    }
                    // @media(max-width : 1680px){
                    //     margin-right: 70px;
                    // }
                    @media(max-width : 1620px){
                        margin-right: 50px;
                    }
                    @media(max-width : 1540px){
                        margin-right: 45px;
                    }
                    @media(max-width : 1500px){
                        margin-right: 35px;
                        font-size: 15px;
                    }
                    @media(max-width : 1360px){
                        margin-right: 30px;
                    }
                    @media(max-width : 1280px){
                        margin-right: 27px;
                    }
                    @media(max-width : 1240px){
                        margin-right: 25px;
                    }
                    @media(max-width : 1140px){
                        font-size: 14px;
                    }
                    a{
                        text-transform: uppercase;
                        color: #fff;
                    }
                    &:hover .sub-menu-drop{
                        display: block;
                    }
                    .sub-menu-drop{
                        position: absolute;
                        top: 277%;
                        display: flex;
                        flex-direction: column;
                        background: #cfcfcf;
                        width: 265px;
                        z-index: 2;
                        
                        align-items: flex-start;
                        font-family: $font-semi;
                        padding: 10px;
                        display: none;
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 100%;
                            left: 20px;
                            border-color: transparent transparent #cfcfcf transparent;
                            border-style: solid;
                            border-width: 15px;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: 100%;
                            left: 0px;
                            width: 100px;
                            height: 38px;
                            background: transparent;
                        }
                        li{
                            padding: 10px 0;
                            width: 100%;
                            border-bottom: 1px solid #2f2f2f;
                            a{
                                color: #2f2f2f;
                            }
                        }
                        li:last-child{
                            border-bottom: none;
                        }
                    }

                }
            }
        }
        .search-language{
            display: flex;
            align-items: center;
        }
        .search{
            padding: 0 20px;
            @media(max-width : 1360px){
                padding: 10px;
            }
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: -5px;
                width: 1px;
                height: 33px;
                background: #5b89b4;
                @media(max-width : 1360px){
                    top: 8px;
                }
            }
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: -5px;
                width: 1px;
                height: 33px;
                background: #5b89b4;
                @media(max-width : 1360px){
                    top: 8px;
                }
            }
        }
        .language{
            margin-left: 20px;
            @media(max-width : 1360px){
                margin-left: 10px;
            }
            .nav-lang{
                display: flex;
                &:lang(vi){
                    .lang-vi{
                        background-color: #cfcfcf 1;
                        .nav-link{
                            opacity: 1;
                        }
                    }
                }
                &:lang(en){
                    .lang-en{
                        background-color: #cfcfcf;
                        .nav-link{
                            opacity: 1;
                        }
                    }
                }
                .nav-item{
                    
                    .nav-link{
                        color: #fff;
                    }
                }
            }
            // button{
            //     img{
            //         width: 28px;
            //         height: 28px;
            //     }
            // }
            // .dropdown-menu{
            //     min-width: auto;
            //     width: 100%;
                
            //     align-items: center;
            //     li{
            //         align-items: center;
            //         display: flex;
            //         justify-content: center;
            //         img{
            //             width: 28px;
            //             height: 28px;
            //         }
            //     }
            // }
            // button{
            //     background: none;
            //     border: none;
            //     outline: none;
            //     display: flex;
            //     align-items: center;
               
            // }
            // .dropdown-toggle::after{
            //     color: #fff;
            //     margin-left: 10px;
            // }
        }
    }
    
}

.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $color-primary;
    z-index: 99;
    transition: all 0.7s ease-out;
}