.section-product-detail{
    margin-top: 55px;
    .product-detail{
        overflow: hidden;
        &__title{
            margin-bottom: 2%;
            text-transform: uppercase;

            @media (max-width: 1080px) {
                @include mobileMarginBottom(20, "+");
            }
        }
        &__banner{
            width: 100%;
            height: auto;
            margin-bottom: 50px;
            @media (max-width: 1080px) {
                @include mobileMarginBottom(40, "+");
            }
        }
        &__desc{
            text-align: justify;
            line-height: 1.2;
            margin-bottom: 50px; @media (max-width: 1080px) {
                @include mobileMarginBottom(40, "+");
            }
        }
        &__slide{
            width: 100%;
            padding-bottom: 51.5%;
            position: relative;
            margin-bottom: 80px;
            
            &--frame{
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                .detail-slide{
                    background-color:white;
                    width: 81%;
                    height: 100%;
                    float: left;

                    @media (max-width: 1080px) {
                        float: right;
                    }
                    
                    .swiper-slide{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .swiper-pagination-bullets{
                        bottom: 2vw;
                        .swiper-pagination-bullet{
                            width: 0.8vw;
                            height: 0.8vw;
                            background-color: #e9eceb;
                            opacity: 1;
                            margin: 0 0.3vw;
                        }
                        .swiper-pagination-bullet-active{
                            width: 0.8vw;
                            height: 0.8vw;
                            background-color: $color-primary;
                        }
                    }
                }
            }

            .detail-info{
                position: absolute;
                width: 34%;
                right: 0;
                height: 60%;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                @media (max-width: 1080px) {
                    right: inherit;
                    left: 0;
                    width: 40%;
                    &--frame {
                        .text {
                            p {
                                @include split_str(12);
                            }
                        }
                    }
                }

                @media (max-width: 768px) {
                    &--frame {
                        .text {
                            p {
                                @include split_str(10);
                            }
                        }
                    }
                }

                &:hover {
                    right: -17%;
                }
                &--frame{
                    height: 100%;
                    background-color: #f7f7f7;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .text{
                        max-width: 100%;
                        flex: 1 100%;
                        text-align: justify;
                        padding: 6.5%;
                        @include mobilePaddingY(30);
                        @include mobilePaddingX(30);
                        line-height: 1.2;
                        background-color: #f7f7f7;

                        .logo{
                            max-width: 100%;
                            flex: 1 100%;
                            text-align: justify;
                            padding: 0 30%;
                            line-height: 1.2;

                            img {
                                max-width: 100%;
                            }
                            @media (max-width: 768px) {
                                padding: 0 40%;
                            }
                        }
                    }
                }
            }

             //mobile 
             @media (max-width: 768px) {
                padding-bottom: 0;

                &--frame {
                    position: relative;
                    
                    .detail-slide{ 
                        float: none;
                        width: 100%;
                    }


                    .detail-info {
                        position: relative;
                        width: 100%;
                        padding-bottom: 0;
                        transform: translateY(0);

                        &--frame {
                            position: relative;
                        }
                    }
                }

            }
        }
        &__features{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 75px;
            @media(max-width : 1100px){
                margin-bottom: 55px;
            }
            .product-detail__card{
                max-width: 29.4%;
                flex: 1 29.4%;

                @media (max-width: 1080px) {
                    max-width: 100%;
                    flex: 0 0 100%;
                }

                &-image{
                    width: 100%;
                    padding-bottom: 100%;
                    position: relative;
                    margin-bottom: 1.5%;
                    overflow: hidden;
                    &:hover .product-detail__card-frame {
                        transform: scale(1.1);
                        
                    }
                    .product-detail__card-frame{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        inset: 0;
                        transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    }
                }
                &-title{
                    color: $color-primary;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 25px;
                }
                &-desc{
                    width: 100%;
                    text-align: justify;
                    line-height: 1;
                }
            }

            //mobile 
            @media (max-width: 1080px) {
                flex-wrap: wrap;
                .product-detail__card {
                    &-image {
                        @include mobileHeight(448);
                        padding-bottom: 0;
                        .product-detail__card-frame {
                            img {
                                
                            }
                        }
                    }
                    
                    &-title {
                       
                        // font-size: 25px;
                        text-align: left;
                        margin-top: 0 !important;
                        @include mobilePaddingTop(35);
                        @include mobileMarginBottom(30, "+");
                    }
                    &-desc {
                       
                        // font-size: 16px;
                        @include mobileMarginBottom(40, "+");
                        line-height: 1;
                    }
                }
            }
        }
        .relate-product{
            .car{
                border-bottom: 1px solid #7d7d7d;
                cursor: pointer;
                .item{
                    width: 100%;
                    display: flex;
                    margin-bottom: 3%;
                    @include marginX(30, "-");
                    @media(max-width : 1600px){
                        margin-bottom: 5%;
                    }
                    @media(max-width : 1100px){
                        margin-bottom: 5%;
                    } 
                    @media (max-width: 1080px) {
                        flex-wrap: wrap;
                    }
                    .car-frame{
                        margin-top: 5%;
                        max-width: 22%;
                        flex: 1 22%;
                        @include paddingX(30);
                        @media(max-width : 1100px){
                            max-width: 20%;
                            flex: 1 20%;
                        }
                        @media(max-width : 1700px){
                            max-width: 25%;
                            flex: 1 25%;
                        }
                        // @media (max-width: 768px) {
                        //     max-width: 50%;
                        //     flex: 1 50%;
                        // }
                        @media (max-width: 1080px) {
                            max-width: 25%;
                            flex: 1 25%;
                        }
                        @media(max-width : 992px){
                            max-width: 25%;
                            flex: 1 25%;
                        }
                        @media (max-width: 768px) {
                            max-width: 50%;
                            flex: 0 0 50%;
                        }

                        .car-img{
                            // height: 65%;
                            @include height(160);
                            @include mobileHeight(165);
                            @media (max-width: 375px) {
                                height: 65px;
                            }
                            img{
                                width: 100%;
                                max-height: 80%;
                                object-fit: contain;
                                position: relative;
                                margin-bottom: 2%;
                                overflow: hidden;
                                transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                                &:hover {
                                    transform: scale(1.1);
                                   
                                }

                            }
                            // @media(max-width : 1100px){
                            //     height: 55%;
                            // }
                            // @media(max-width : 1300px){
                            //     height: 65%;
                            // }
                        }

                        .car-content {
                            height: calc(100% - 160px);
                            @media only screen and (max-width: 1680px) {
                                height: calc(100% - #{calculatorPixel(160, 1680)}px);
                            }
                            @media only screen and (max-width: 1368px) {
                                height: calc(100% -  #{calculatorPixel(160, 1368)}px);
                            }
                            @media (max-width: 1080px) {
                                height: calc(100% - 165px);
                            }
                            @media only screen and (max-width: 768px) {
                                height: calc(100% - #{MobilecalculatorPixel(165, 768)}px);
                            }
                            @media (max-width: 576px) {
                                height: calc(100% - #{MobilecalculatorPixel(165, 576)}px);
                            }
                            @media (max-width: 375px) {
                                height: calc(100% - 65px);
                            }
                        }
                       
                        .car-name{
                            color: $color-primary;
                           
                        }
                        .car-decs{
                            opacity: 50%;
                        }
                        .readmore{
                            color: $color-primary;
                            margin-top: 3%;
                        }
                    }
                }
                &:last-child{
                    border-bottom: none;
                    margin-bottom: 5%;
                }
            }
            .car4{
                border-bottom: none;
                .item{
                    .car-frame{
                        .car-img{
                            @include width(200);
                            @include mobileWidth(165);
                            @media (max-width: 375px) {
                                height: 65px;
                            }
                        }
                    }
                }
            }

           
        }
    }
}