.general-manufacturing{
    .production{
        @media (max-width:1080px){
            .production__title{
                margin-bottom: 1%;
            }
            .production__content{
                .readmore{
                    i{
                        font-size: 2vw;
                    }
                }
            }
        }
        &__image{
            padding-top: 1%;
        }
    }
}