@include font-face("MyriadPro-Cond", "fonts/MyriadPro-Cond");
@include font-face("MyriadPro-BoldCond", "fonts/MyriadPro-BoldCond");
@include font-face("MyriadPro-Regular", "fonts/MyriadPro-Regular");
@include font-face("MyriadPro-Bold", "fonts/MyriadPro-Bold");
@include font-face("MyriadPro-SemiboldCond", "fonts/MyriadPro-SemiboldCond");

.MyriadPro-Cond {
  // font-family: "MyriadPro-Cond";
  font-family: "MyriadPro-Regular";
}

.MyriadPro-BoldCond {
  // font-family: "MyriadPro-BoldCond";
  font-family: "MyriadPro-Bold";
}

.MyriadPro-Regular {
  font-family: "MyriadPro-Regular";
}

.MyriadPro-Bold {
  font-family: "MyriadPro-Bold";
  // font-family: "MyriadPro-BoldCond";
}

.MyriadPro-SemiboldCond {
  // font-family: "MyriadPro-SemiboldCond";
  font-family: "MyriadPro-Bold";
}

.Lineheight-Regular {
  line-height: 1.5;
}
//thay font vì khách muốn đồng bộ