.container-remake{
    width: 80%;
    margin: 0 auto;
}
a:hover{
    color: $color-primary;
}
.color-pri{
    color: $color-primary;
}
.color-white{
    color: #fff;
}
.color-gray{
    color: #2e3a41;
}
.font-pri-bold{
    font-family: $font-primary-bold;
}
.font-pri{
    font-family: $font-primary;
}
.font-cond{
    font-family: $font-cond;
}
.font-mi-bold{
    font-family: $font-my-bold;
}
.font60{
    font-size: 60px;
    @media(max-width : 1680px){
        font-size: 55px;
    }
    @media(max-width : 1440px){
        font-size: 50px;
    }
}
.font40{
    font-size: 40px;
    @media(max-width : 1680px){
        font-size: 36px;
    }
    @media(max-width : 1440px){
        font-size: 32px;
    }
}
.font30{
    font-size: 30px;
    line-height: 36px;
    @media(max-width : 1680px){
        font-size: 28px;
        line-height: 32px;
    }
    @media(max-width : 1440px){
        font-size: 25px;
        line-height: 30px;
    }
    @media(max-width : 1400px){
        font-size: 23px;
        line-height: 26px;
    }
}
.font25{
    font-size: 25px;
    @media(max-width : 1680px){
        font-size: 23px;
    }
    @media(max-width : 1440px){
        font-size: 20px;
    }
}
.font20{
    font-size: 20px;
    line-height: 24px;
    @media(max-width : 1680px){
        font-size: 18px;
        line-height: 21px;
    }
    @media(max-width : 1440px){
        font-size: 16px;
        line-height: 19px;
    }
    @media(max-width : 1400px){
        font-size: 15px;
        line-height: 18px;
    }
}
.font18{
    font-size: 18px;
    @media(max-width : 1680px){
        font-size: 16px;
    }
}
.font15{
    font-size: 15px;
}
.header{
    background: $color-primary;
    height: 90px;
    
    .header-wrap{
        display: flex;
        align-items: center;
        height: 100%;
        .main-menu{
            margin-left: 54px;
            ul{
                display: flex;
                align-items: center;
                li{
                    margin-right: 50px;
                    @media(max-width : 1919px){
                        margin-right: 30px;
                    }
                    @media(max-width : 1680px){
                        margin-right: 25px;
                    }
                    @media(max-width : 1540px){
                        margin-right: 20px;
                    }
                    @media(max-width : 1500px){
                        margin-right: 15px;
                        font-size: 15px;
                    }
                    a{
                        text-transform: uppercase;
                        color: #fff;
                    }
                }
            }
        }
        .search{
            padding: 0 20px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: -5px;
                width: 1px;
                height: 33px;
                background: #5b89b4;
            }
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: -5px;
                width: 1px;
                height: 33px;
                background: #5b89b4;
            }
        }
        .language{
            margin-left: 20px;
            button{
                background: none;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
               
            }
            .dropdown-toggle::after{
                color: #fff;
                margin-left: 10px;
            }
        }
    }
    
}

