.paginate-mobile {
  display: none;
  @media (max-width: 1080px) {
    display: block;
    .page-pagination {
      @include mobilePaddingTop(50);
      @include mobilePaddingBottom(60);
    }
  }
}

.post-thumbnail {
  width: 100%;
  height: 0%;
  padding-bottom: 55%;
  overflow: hidden;
  position: relative;
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s, visibility 0.3s ease-in;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background: $color-primary;
  height: 45px;
  font-size: 20px;
  @media (max-width: 1080px) {
    font-size: 16px;
  }
  color: #fff;
  font-family: $font-cond;
  display: flex;
  align-items: center;
}
.select2-dropdown {
  border: none;
  font-size: 20px;
  @media (max-width: 1080px) {
    font-size: 16px;
  }
}
.select2-results__option,
.select2-results__option--selectable {
  height: 45px;
  background: #e9e9e9;
  font-size: 20px;
  @media (max-width: 1080px) {
    font-size: 16px;
  }
  color: #5c5c5c;
  font-family: $font-cond;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable:hover {
  background: $color-primary;
  padding: 0 18px;
  font-size: 20px;
  @media (max-width: 1080px) {
    font-size: 16px;
  }
}

.select2-container--default .select2-results__option--selected {
  background: #e9e9e9;
  font-size: 20px;
  @media (max-width: 1080px) {
    font-size: 16px;
  }
}

.form-filter {
  @media (max-width: 1080px) {
    flex-wrap: wrap;

    > span {
      @include mobileMarginBottom(30, "+");
      @include mobileHeight(50);
      min-height: 35px;
      margin-right: 0 !important;
      background-color: white;
      min-width: unset !important;
      .select2-selection {
        height: 100% !important;
        @include mobilePaddingLeft(20);

        .select2-selection__arrow {
          height: 100% !important;
          @include mobileMarginRight(20, "+");
        }
      }

      &:nth-child(2),
      &:nth-child(4) {
        width: 100% !important;
      }

      &:nth-child(6) {
        width: calc(50% - 25px) !important;
        margin-right: 25px !important;
      }

      &:nth-child(8) {
        width: calc(50% - 25px) !important;
        margin-left: 25px !important;
      }
    }

    .btn-submit {
      margin-left: auto;
      @include mobileMarginBottom(30, "+");
    }
  }
}

.fitter-media .fitter-media-wrap .select2-container {
  min-width: 120px;
}
.fitter-media {
  background: #f4f4f4;
  @include paddingY(20);
  @media (max-width: 1080px) {
    @include mobilePaddingTop(30);
    padding-bottom: 0;
    margin-top: 0;
  }
  .fitter-media-wrap {
    display: flex;
    justify-content: center;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    select {
      margin-right: 90px;
    }

    .select2-container {
      margin-right: 90px;
      font-family: $font-cond;
      font-size: 20px;
      @media (max-width: 1680px) {
        margin-right: 70px;
      }
      @media (max-width: 1560px) {
        margin-right: 60px;
      }
      @media (max-width: 1366px) {
        margin-right: 50px;
        font-size: 18px;
      }
      @media (max-width: 1199px) {
        margin-right: 40px;
        font-size: 16px;
      }
    }
    .select2-container .select2-selection--single {
      border: none;
      height: 50px;
      display: flex;
      align-items: center;
      @media (max-width: 1680px) {
        height: 45px;
      }
      @media (max-width: 1440px) {
        height: 40px;
      }
      @media (max-width: 1366px) {
        height: 35px;
      }
      @media (max-width: 1199px) {
        height: 30px;
      }
    }
    .select2-container--default
      .select2-selection--single
      .select2-selection__arrow {
      height: 50px;
      @media (max-width: 1680px) {
        height: 45px;
      }
      @media (max-width: 1440px) {
        height: 40px;
      }
      @media (max-width: 1366px) {
        height: 35px;
      }
      @media (max-width: 1199px) {
        height: 30px;
      }
    }
    .select2-container--default .select2-results > .select2-results__options {
      font-family: $font-cond;
      font-size: 20px;
    }

    button {
      font-size: 20px;
      font-family: $font-cond;
      color: #fff;
      border: none;
      outline: none;
      background: $color-primary;
      height: 50px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 1680px) {
        height: 45px;
        padding: 0 25px;
      }
      @media (max-width: 1440px) {
        height: 40px;
        padding: 0 20px;
      }
      @media (max-width: 1366px) {
        height: 35px;
        padding: 0 15px;
        font-size: 18px;
      }
      @media (max-width: 1199px) {
        height: 30px;
        padding: 0 10px;
        font-size: 16px;
      }

      @include mobileHeight(50);
      @include mobileWidth(150);
      @media (max-width: 1080px) {
        padding: 0;
      }
    }
  }
}
.meida-top {
  @include marginTop(60, "+");
  @include marginBottom(20, "+");
  @include marginX(15, "-");
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  .media-top-item {
    h4 {
      a {
        color: #444444;
      }
    }
    p.desc {
      text-align: justify;
    }
    .item-image {
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .media-top-item:nth-child(1) {
    @include paddingX(15);
    @include marginBottom(50, "+");
    width: 100%;
    display: flex;
    .item-img {
      width: 67%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .item-content {
      width: 33%;
      background: #f3f3f3;
      padding: 50px 70px 30px;
      @media (max-width: 1680px) {
        padding: 40px;
      }
      @media (max-width: 1560px) {
        padding: 30px 35px;
      }
      @media (max-width: 1366px) {
        padding: 20px 30px;
      }
      @media (max-width: 1199px) {
        padding: 10px 25px;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        margin-bottom: 35px;
        @media (max-width: 1680px) {
          margin-bottom: 25px;
        }
        @media (max-width: 1440px) {
          margin-bottom: 20px;
        }
        @media (max-width: 1366px) {
          margin-bottom: 15px;
        }
        @media (max-width: 1199px) {
          margin-bottom: 10px;
        }
      }
      p.desc {
        flex: 1;

        @media (max-width: 1080px) {
          @include marginBottom(35, "+");
        }
      }
    }

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      .item-img {
        width: 100%;
      }
      .item-content {
        width: 100%;
      }
    }
  }
  .media-top-item:nth-child(1n + 2) {
    width: 33.33333336%;

    @include paddingX(15);
    @include marginBottom(40, "+");

    .item-image {
      overflow: hidden;
      @include height(270);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .item-content {
      margin-top: -3px;
      background: #f3f3f3;
      @include paddingX(25);
      @include paddingY(25);
      @include mobilePaddingX(25);
      @include mobilePaddingY(25);
      @include heightMinus(270);
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;

      h4 {
        text-align: justify;
        margin-bottom: 6%;
        flex: 0 0 100%;

        a {
          @include split_str(3);
        }
      }
      p.desc {
        margin-bottom: 6%;
        @include split_str(4);
      }
    }

    //mobile
    @media (max-width: 1080px) {
      width: 50%;

      .item-img {
        background-color: #f3f3f3;
      }
    }
    // @media (max-width: 576px) {
    //     width: 100%;
    // }
  }
}
.city-day {
  color: #8b8b8b;
  .city {
    padding-right: 17px;
    margin-right: 10px;
    border-right: 1px solid #8b8b8b;
  }
}

.media-bottom {
  display: flex;
  justify-content: space-between;
  .list-all-post {
    width: 65%;
    .all-post-item {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid #ebebeb;
      .post-thumbnail-wrap {
        width: 37%;
      }
      .post-content {
        width: 60%;
        h4 {
          a {
            color: #303030;
          }
          @include mobileMarginBottom(25, "+");
        }
        p.desc {
          margin: 15px 0;
          text-align: justify;
          @include mobileMarginBottom(35, "+");
        }
      }
    }

    @media (max-width: 1080px) {
      .all-post-item {
        flex-wrap: wrap;
        .post-thumbnail-wrap {
          width: 100%;
        }

        @include mobilePaddingTop(50);
        .post-content {
          width: 100%;
          background-color: transparent;
          padding-left: 0;
          padding-right: 0;
          @include mobilePaddingBottom(40);
          @include mobilePaddingTop(60);
          h4 {
            font-size: 25px;
          }
        }
      }
    }

    .page-pagination {
      ul {
        li {
          margin-right: 15px;
          a {
            color: #acacac;
          }
        }
        li.active {
          span {
            color: $color-primary;
          }
        }
        li.color {
          color: $color-primary;
        }
      }
    }
  }

  .list-post-new {
    width: 33%;
    margin-bottom: 7%;
    .wrap {
      @include paddingX(40);
      background: #f3f3f3;
      width: 100%;
      h2 {
        @include paddingY(40);
        text-transform: uppercase;
        color: #303030;
      }
      .post-new-item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 23px;
        .post-thumbnail-wrap {
          width: 30%;
        }
        .title {
          width: 64%;
          text-align: justify;
          margin: 0;
          a {
            color: #303030;
            text-align: justify;
          }
        }
      }
      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 12%;
          height: auto;
        }
      }
    }
  }

  .view-all-news {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    a {
      color: #303030;
      span {
        margin-left: 10px;
      }
    }
  }

  //mobile
  @media (max-width: 1080px) {
    flex-wrap: wrap;
    @include mobileMarginBottom(60, "+");
    .list-all-post {
      width: 100%;
    }

    .list-post-new {
      display: none;
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .list-all-post {
      .all-post-item {
        flex-wrap: wrap;
        .post-thumbnail-wrap {
          width: 100%;
        }

        .post-content {
          width: 100%;
          padding-top: 25px;
        }
      }
    }
  }
}

.media-event-list {
  @include paddingY(50);

  @media (max-width: 1080px) {
    padding: 0;
  }

  .event-item {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #7d7d7d;
    @media (max-width: 1680px) {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    @media (max-width: 1440px) {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    @media (max-width: 1366px) {
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    @media (max-width: 1199px) {
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .title {
      display: flex;
      margin-bottom: 55px;
      align-items: center;
      @media (max-width: 1680px) {
        margin-bottom: 45px;
      }
      @media (max-width: 1440px) {
        margin-bottom: 35px;
      }
      @media (max-width: 1366px) {
        margin-bottom: 25px;
      }
      @media (max-width: 1199px) {
        margin-bottom: 15px;
      }

      .icon-title {
        width: 5.5%;
        max-width: 55px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .title-wrap {
        margin-left: 15px;
        h5 {
          text-transform: uppercase;
          a {
            color: #2e3a41;
          }
        }
        p {
          color: #5c5c5c;
        }
      }
    }
    .image-content {
      display: flex;
      justify-content: space-between;
      .image {
        width: 32%;
        @media (max-width: 1680px) {
          width: 29%;
        }
        @media (max-width: 1440px) {
          width: 26%;
        }
        @media (max-width: 1366px) {
          width: 24%;
        }
        @media (max-width: 1199px) {
          width: 23%;
        }
      }
      .content {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1680px) {
          width: 68%;
        }
        @media (max-width: 1440px) {
          width: 71%;
        }
        @media (max-width: 1366px) {
          width: 73%;
        }
        @media (max-width: 1199px) {
          width: 74%;
        }
        p {
          text-align: justify;
          color: #5c5c5c;
        }
        .view-detail {
          text-transform: uppercase;
          margin-bottom: 10px;
          a {
            color: #fff;
            padding: 1% 3% 0.8%;
            background: $color-primary;
          }
        }
      }
    }

    //mobile
    @media (max-width: 1080px) {
      flex-wrap: wrap;
      display: flex;
      border-bottom: 0;
      @include mobileMarginBottom(75, "+");

      .title {
        order: 2;
        background-color: #f3f3f3;
        @include mobilePaddingY(20);
        @include mobilePaddingX(20);
        width: 100%;
        margin-bottom: 0;

        h5 {
          @include marginBottom(25, "+");
        }

        .title-wrap {
          margin-left: 0;
        }

        .icon-title {
          display: none;
        }
      }

      .image-content {
        order: 1;
        width: 100%;
        .image {
          width: 100%;
        }
        .content {
          display: none;
        }
      }

      &:first-child {
        @include mobileMarginTop(60, "+");
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.page-pagination {
  @include paddingTop(30);
  @include paddingBottom(60);
  @media (max-width: 1080px) {
    @include mobilePaddingTop(30);
    @include mobilePaddingBottom(60);
  }
  ul {
    li {
      margin-right: 15px;
      a {
        color: #acacac;
      }
    }
    li.active {
      span {
        color: $color-primary;
      }
    }
    li.color {
      // color: $color-primary;
      color: #acacac;
    }
  }

  &.hidden-desktop {
    display: none;
    @include mobilePaddingTop(60);
    @media (max-width: 1080px) {
      display: block;
      padding-bottom: 0;
    }
  }
}
// thông cáo báo chí
.list-newspapers {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 1680px) {
    padding-top: 50px;
  }
  @media (max-width: 1440px) {
    padding-top: 40px;
  }
  @media (max-width: 1366px) {
    padding-top: 30px;
  }
  @media (max-width: 1199px) {
    padding-top: 20px;
  }
  .item-newspaper {
    background: #f4f4f4;
    padding: 30px;
    width: 31%;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .row__top {
      width: 100%;
      @include marginBottom(30, "+");
      .desc {
      }
      h5.title a {
        color: #2e3a41;
      }
      p.desc {
        color: #2e3a41;
        margin-top: 30px;

        text-align: justify;
        @media (max-width: 1680px) {
          margin: 25px 0;
          padding-bottom: 25px;
        }
        @media (max-width: 1440px) {
          margin: 20px 0;
          padding-bottom: 20px;
        }
        @media (max-width: 1366px) {
          margin: 15px 0;
          padding-bottom: 15px;
        }
        @media (max-width: 1199px) {
          margin: 10px 0;
          padding-bottom: 10px;
        }
      }
    }

    .row__bottom {
      width: 100%;
      padding-top: 30px;
      border-top: 1px solid #2e3a41;

      .size-dowload {
        margin: 15px 0;
        display: flex;
        align-items: center;
        span.left {
          margin-right: 25px;
        }
        span a {
          background: $color-primary;
          color: #fff;
          padding: 7px 10px 5px;
          font-size: 13px;
          border-radius: 3px;
        }
      }
      .tags {
        display: flex;
        align-items: flex-start;
        margin-top: 8%;
        @include height(100);
        @media (max-width: 1720px) {
          @include height(120);
        }
        @media (max-width: 1680px) {
          @include height(140);
        }
        @media (max-width: 1440px) {
          @include height(150);
        }
        @media (max-width: 1300px) {
          @include height(180);
        }
        @media (max-width: 1200px) {
          @include height(100);
        }
        @media (max-width: 600px) {
          @include height(160);
        }
        @media (max-width: 480px) {
          @include height(240);
        }
        .tag-name {
          margin-top: 6px;
          @media (max-width: 1720px) {
            margin-top: 3.5px;
          }
          @media (max-width: 1680px) {
            margin-top: 3px;
          }
          @media (max-width: 1440px) {
            margin-top: 2.6px;
          }

          .name-tag {
            font-size: 18px;
            margin-right: 10px;
          }
        }

        .tag-list {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          flex: 1;

          p {
            width: fit-content;
            background: #e2e2e2;
            text-align: center;
            padding: 2%;
            margin-right: 3%;
            // margin-top: -5%;
            margin-bottom: 0;
            a {
              color: #2e3a41;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1080px) {
    .item-newspaper {
      width: 100%;

      // .row__top {
      //     @include mobileMarginBottom(25, "+");
      //     @include mobilePaddingBottom(25);
      //     p.desc {
      //         padding-bottom: 0;
      //         margin-bottom: 0;
      //     }
      // }

      .row__bottom {
        @include mobilePaddingTop(20);
        .title-docx {
          color: #01498b;
        }

        p.desc {
          @include mobilePaddingBottom(30);
          @include mobileMarginBottom(23, "+");
        }

        .tags {
          @include mobileMarginTop(30, "+");

          .name-tag {
            margin-right: 25px;
          }

          .tag-list {
            p {
              padding: 0;
              height: 34px;
              line-height: 34px;
              padding-left: 10px;
              padding-right: 10px;
              margin-right: 15px;
              margin-top: -2%;
              margin-bottom: 0;
              @media (max-width: 1080px) {
                margin-top: 0;
              }
            }
          }
        }

        .size-dowload {
          display: none;
        }
      }
    }
  }

  .page-pagination {
    display: flex;
  }
}

// bản tin thaco auto
.news-thaco-content {
  @include paddingTop(60);
  @include paddingBottom(100);
  @media (max-width: 1080px) {
    padding-bottom: 0;
  }

  .news-thaco-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item {
      width: 48%;
      display: flex;
      .item-img {
        width: 45%;
        .post-thumbnail {
          width: 100%;
          height: 100%;
          a {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .item-content {
        width: 55%;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #f3f3f3;
        h5 a {
          color: #2e3a41;
        }
        p.day {
          margin: 5px 0 10px 0;
        }
        p.desc {
          text-align: justify;
          flex: 1;
          @include split_str(3);
          @include marginBottom(70, "+");
        }
        .view-detail {
          color: #2e3a41;
          span {
            margin-left: 10px;
          }
        }

        .size-dowload {
          margin: 15px 0;
          display: flex;
          align-items: center;
          display: none;
          span.left {
            margin-right: 25px;
          }
          span a {
            background: $color-primary;
            color: #fff;
            padding: 7px 10px 5px;
            font-size: 13px;
            border-radius: 3px;
          }
        }

        @media (max-width: 1080px) {
          .view-detail {
            display: none;
          }
          .size-dowload {
            display: block;
          }
        }
      }
    }

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      @include mobileMarginBottom(35, "-");

      .item {
        width: 100%;
        @include mobilePaddingY(35);

        &:first-child {
          padding-top: 0;
        }

        .item-content {
          @include mobilePaddingY(35);
          @include mobilePaddingX(47);

          p.desc {
            @include mobileMarginBottom(32, "+");
          }

          p.day {
            @include mobileMarginTop(15, "+");
            @include mobileMarginBottom(15, "+");
          }
        }
      }
    }
  }

  .news-thaco-list {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1080px) {
      display: none;
    }

    .news-thaco-item {
      width: 40%;
      .mid {
      }
    }
    .item-shareholder {
      flex-direction: column;
      .item-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
    .desc-none {
      display: none;
      width: 100%;
      padding-left: 45px;
      margin-top: 10px;
      padding-bottom: 35px;
      border-bottom: 1px solid #2e3a41;
      .wrap {
        justify-content: space-between;
        display: flex;
        .desc-right {
          a {
            color: #fff;
            background: $color-primary;
            padding: 7px 10px 5px;
            margin-left: 20px;
          }
        }
      }
    }
  }
  #myList li {
    display: none;
  }
  #loadMore {
    color: $color-primary;
    cursor: pointer;
    font-family: $font-my-bold;
    span:last-child {
      margin-left: 0.3%;
    }

    &.hidden {
      @media (max-width: 1080px) {
        display: none;
      }
    }
  }
  #loadMore:hover {
    color: black;
  }
}

.tabs-mobile {
  display: none;
}

@media (max-width: 1080px) {
  .section-desktop {
    display: none;
  }
  .tabs-mobile {
    display: block;

    .nav-tabs {
      border-bottom: none;
      @include mobilePaddingTop(30);
      @include mobilePaddingBottom(42);
    }

    .nav-link {
      font-weight: bold;
      color: #5c5c5c !important;
      background-color: transparent !important;
      border: none;

      &:focus {
        outline: none;
      }

      &.active {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: 0;
          left: 25%;
          right: 25%;
          height: 2px;
          background-color: #01498b;
        }
      }
    }

    .gallery-item {
      @include mobilePaddingY(73);

      .thumbnail {
        position: relative;
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          vertical-align: middle;
        }
        .play {
          background: red;
          border-radius: 50% / 10%;
          color: #ffffff;
          font-size: 2em;
          /* change this to change size */
          height: 40px;
          width: 70px;
          padding: 0;
          position: absolute;
          text-align: center;
          text-indent: 0.1em;
          transition: all 150ms ease-out;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;

          &::before {
            background: inherit;
            border-radius: 5% / 50%;
            bottom: 9%;
            content: "";
            left: -5%;
            position: absolute;
            right: -5%;
            top: 9%;
          }

          &::after {
            border-style: solid;
            border-width: 10px 0 10px 20px;
            border-color: transparent transparent transparent
              rgba(255, 255, 255, 0.75);
            content: " ";
            font-size: 70%;
            height: 0;
            top: 50%;
            left: 56%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 0;
          }

          &:hover {
            background: rgb(71, 71, 71);
          }
        }
      }
      .content {
        background-color: #f3f3f3;
        @include mobilePaddingY(20);
        @include mobilePaddingX(20);

        .day {
          color: #8b8b8b;
        }

        .title {
          @include mobileMarginBottom(30, "+");
          a {
            color: black;
          }
        }
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }
}

// hình ảnh video
.image-gallery {
  padding-top: 2rem;
  &:last-child {
    padding-bottom: 2rem;
  }
  h3 {
    color: #444444;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }
  .image-gallery-list {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    .item-image {
      overflow: hidden;
      width: 100%;
      // margin-bottom: 2%;
      .day {
        color: #8b8b8b;
        margin-bottom: 0.5rem;
      }
      .post-thumbnail {
        width: 100%;
        height: 0;
        padding-bottom: 90%;
        position: relative;
        // margin-bottom: 2%;
        margin-bottom: 1rem;
        a {
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
        }
      }
      h5 a {
        color: #444444;
      }
    }
  }
}
.video {
  padding: 30px 0 6px 0;
}
