.post-thumbnail{
    width: 100%;
    height: 100%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        transition: transform .3s, visibility .3s ease-in;
        &:hover{
            transform: scale(1.1);
        }
    }
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: $color-primary;
    height: 45px;
    color: #fff;
    font-family: $font-cond;
    display: flex;
    align-items: center;
}
.select2-dropdown{
    border: none;
}
.select2-results__option,
.select2-results__option--selectable {
    height: 45px;
    background: #e9e9e9;

    color: #5c5c5c;
    font-family: $font-cond;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
    background: $color-primary;
    padding: 0 18px;
}

.select2-container--default .select2-results__option--selected {
    background: #e9e9e9;
}
.fitter-media .fitter-media-wrap .select2-container{
    min-width: 120px;
}
.fitter-media{
    background: #f4f4f4;
    padding: 20px 0;
    @media(max-width : 1680px){
        padding: 17px 0;
    }
    @media(max-width : 1440px){
        padding: 15px 0;
    }
    @media(max-width : 1366px){
        padding: 13px 0;
    }
    @media(max-width : 1199px){
        padding: 11px 0;
    }
    .fitter-media-wrap{
        display: flex;
        justify-content: center;
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        select{
            margin-right: 90px;
        }
      
        .select2-container{
            margin-right: 90px;
            font-family: $font-cond;
            font-size: 20px;
            @media(max-width: 1680px){
                margin-right: 70px;
            }
            @media(max-width: 1560px){
                margin-right: 60px;
            }
            @media(max-width : 1366px){
                margin-right: 50px;
                font-size: 18px;
            }
            @media(max-width : 1199px){
                margin-right: 40px;
                font-size: 16px;
            }
        }
        .select2-container .select2-selection--single{
            border: none;
            height: 50px;
            display: flex;
            align-items: center;
            @media(max-width : 1680px){
                height: 45px;
            }
            @media(max-width : 1440px){
                height: 40px;
            }
            @media(max-width : 1366px){
                height: 35px;
            }
            @media(max-width : 1199px){
                height: 30px;
            }
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow{
            height: 50px;
            @media(max-width : 1680px){
                height: 45px;
            }
            @media(max-width : 1440px){
                height: 40px;
            }
            @media(max-width : 1366px){
                height: 35px;
            }
            @media(max-width : 1199px){
                height: 30px;
            }
        }
        .select2-container--default .select2-results>.select2-results__options{
            font-family: $font-cond;
            font-size: 20px;
        }
       
        
        button{
            font-size: 20px;
            font-family: $font-cond;
            color: #fff;
            border: none;
            outline: none;
            background: $color-primary;
            height: 50px;
            padding: 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media(max-width : 1680px){
                height: 45px;
                padding: 0 25px;
            }
            @media(max-width : 1440px){
                height: 40px;
                padding: 0 20px;
            }
            @media(max-width : 1366px){
                height: 35px;
                padding: 0 15px;
                font-size: 18px;
            }
            @media(max-width : 1199px){
                height: 30px;
                padding: 0 10px;
                font-size: 16px;
            }
        }
    }
    
}
.meida-top{
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .media-top-item{
        h4{
            a{
                color: #444444;
            }
        }
        p.desc{
            text-align: justify;
        }
    }
    .media-top-item:nth-child(1){
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        .item-img{
            width: 67%;
            img{
                width: 100%;
                max-width: 100%;
            }
        }
        .item-content{
            width: 33%;
            background: #f3f3f3;
            padding: 50px 70px 30px;
            @media(max-width: 1680px){
                padding: 40px;
            }
            @media(max-width: 1560px){
                padding: 30px 35px;
            }
            @media(max-width : 1366px){
                padding: 20px 30px;
            }
            @media(max-width : 1199px){
                padding: 10px 25px;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4{
                margin-bottom: 35px;
                @media(max-width : 1680px){
                    margin-bottom: 25px;
                }
                @media(max-width : 1440px){
                    margin-bottom: 20px;
                }
                @media(max-width : 1366px){
                    margin-bottom: 15px;
                }
                @media(max-width : 1199px){
                    margin-bottom: 10px;
                }
            }
            p.desc{
                flex: 1;
            }
        }
    }
    .media-top-item:nth-child(2),.media-top-item:nth-child(3),.media-top-item:nth-child(4){
        width: 31%;
        img{
            width: 100%;
            max-width: 100%;
        }
        .item-content{
            margin-top: -3px;
            background: #f3f3f3;
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4{
                margin-bottom: 35px;
                @media(max-width : 1680px){
                    margin-bottom: 25px;
                }
                @media(max-width : 1440px){
                    margin-bottom: 20px;
                }
                @media(max-width : 1366px){
                    margin-bottom: 15px;
                }
                @media(max-width : 1199px){
                    margin-bottom: 10px;
                }
            }
            p.desc{
                margin-bottom: 35px;
                height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                @media(max-width : 1680px){
                    margin-bottom: 25px;
                }
                @media(max-width : 1440px){
                    margin-bottom: 20px;
                }
                @media(max-width : 1366px){
                    margin-bottom: 15px;
                }
                @media(max-width : 1199px){
                    margin-bottom: 10px;
                }
            }
        }
    }
}
.city-day{
    .city{
        padding-right: 17px;
        margin-right: 10px;
        border-right: 1px solid #8b8b8b;
    }
}

.media-bottom{
    display: flex;
    justify-content: space-between;
    .list-all-post{
        width: 65%;
        .all-post-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid #ebebeb;
            .post-thumbnail-wrap{
                width: 37%;
                
               
            }
            .post-content{
                width: 60%;
                h4{
                    a{
                        color: #303030;
                    }
                }
                p.desc{
                    margin: 15px 0;
                    text-align: justify;
                }
            }
        }

        .page-pagination{
            padding: 30px 0 60px;
            ul{
                li{
                    margin-right: 15px;
                    color: #acacac;
                }
                li:first-child{
                    color: $color-primary;
                }
                li.color{
                    color: $color-primary;
                }
            }
        }
    }
    .list-post-new{
        width: 33%;
       .wrap{
        padding: 0 40px;
        background: #f3f3f3;
        width: 100%;
        h2{
            padding: 40px 0;
            text-transform: uppercase;
            color: #303030;
        }
        .post-new-item{
            display: flex;
            justify-content: space-between;
            padding-bottom: 23px;
            .post-thumbnail-wrap{
                width: 30%;
            }
            .title{
                width: 68%;
                text-align: justify;
                a{
                    color: #303030;
                text-align: justify;
                }
            }
        }
       }
    }

    .view-all-news{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
        a{
            color: #303030;
            span{
                margin-left: 10px;
            }
        }
    }
}

.media-event-list{
    padding: 60px 0;
    @media(max-width : 1680px){
        padding: 50px 0;
    }
    @media(max-width : 1440px){
        padding: 40px 0;
    }
    @media(max-width : 1366px){
        padding: 30px 0;
    }
    @media(max-width : 1199px){
        padding: 20px 0;
    }
    .event-item{
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #7d7d7d;
        @media(max-width : 1680px){
            margin-bottom: 40px;
            padding-bottom: 40px;
        }
        @media(max-width : 1440px){
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
        @media(max-width : 1366px){
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        @media(max-width : 1199px){
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        .title{
            display: flex;
            margin-bottom: 55px;
            align-items: center;
            @media(max-width : 1680px){
                margin-bottom: 45px;
            }
            @media(max-width : 1440px){
                margin-bottom: 35px;
            }
            @media(max-width : 1366px){
                margin-bottom: 25px;
            }
            @media(max-width : 1199px){
                margin-bottom: 15px;
            }
            .icon-title{
                width: 5.5%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .title-wrap{
                margin-left: 15px;
                h5{
                    text-transform: uppercase;
                    a{
                        color: #2e3a41;
                    }
                }
                p{
                    color: #5c5c5c;
                }
            }
        }
        .image-content{
            display: flex;
            justify-content: space-between;
            .image{
                width: 32%;
                @media(max-width : 1680px){
                    width: 29%;
                }
                @media(max-width : 1440px){
                    width: 26%;
                }
                @media(max-width : 1366px){
                    width: 24%;
                }
                @media(max-width : 1199px){
                    width: 23%;
                }
            }
            .content{
                width: 65%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media(max-width : 1680px){
                    width: 68%;
                }
                @media(max-width : 1440px){
                    width: 71%;
                }
                @media(max-width : 1366px){
                    width: 73%;
                }
                @media(max-width : 1199px){
                    width: 74%;
                }
                p{
                    text-align: justify;
                    color: #5c5c5c;
                }
                .view-detail{
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    a{
                        color: #fff;
                        padding: 5px 30px;
                        background: $color-primary;
                   
                    }
                }
               
            }
        }
    }
}
.page-pagination{
    padding: 30px 0 60px;
    @media(max-width : 1680px){
        padding: 25px 0 50px;
    }
    @media(max-width : 1440px){
        padding: 20px 0 40px;
    }
    @media(max-width : 1366px){
        padding: 10px 0 30px;
    }
    @media(max-width : 1199px){
        padding: 5px 0 20px;
    }
    ul{
        li{
            margin-right: 15px;
            color: #acacac;
        }
        li:first-child{
            color: $color-primary;
        }
        li.color{
            color: $color-primary;
        }
    }
}
// thông cáo báo chí 
.list-newspapers{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width : 1680px){
        padding-top: 50px;
    }
    @media(max-width : 1440px){
        padding-top: 40px;
    }
    @media(max-width : 1366px){
        padding-top: 30px;
    }
    @media(max-width : 1199px){
        padding-top: 20px;
    }
    .item-newspaper{
        background: #f4f4f4;
        padding: 30px;
        width: 31%;
        margin-bottom: 3%;
        h5.title a{
            color: #2e3a41;
        }
        p.desc{
            color: #2e3a41;
            margin: 30px 0;
            padding-bottom: 30px;
            border-bottom: 1px solid #2e3a41;
            text-align: justify;
            @media(max-width : 1680px){
                margin: 25px 0;
                padding-bottom: 25px;
            }
            @media(max-width : 1440px){
                margin: 20px 0;
                padding-bottom: 20px;
            }
            @media(max-width : 1366px){
                margin: 15px 0;
                padding-bottom: 15px;
            }
            @media(max-width : 1199px){
                margin: 10px 0;
                padding-bottom: 10px;
            }
        }
        .size-dowload{
            margin: 15px 0;
            display: flex;
            align-items: center;
            span.left{
                margin-right: 25px;
            }
            span a{
                background: $color-primary;
                color: #fff;
                padding: 7px 10px 5px;
                font-size: 13px;
                border-radius: 3px;
            }
        }
        .tags{
            display: flex;
           
            p.name-tag{
                font-size: 18px;
                margin-right: 10px;
            }
            .tag-list{
                display: flex;
                flex-wrap: wrap;
                flex: 1;
                p{
                    width: fit-content;
                    background: #e2e2e2;
                    text-align: center;
                    padding: 2%;
                    margin-right: 3%;
                    margin-bottom: 3%;
                    a{
                        color: #2e3a41;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .page-pagination{
        display: flex;
        margin:  0 auto;
    }
}


// bản tin thaco auto 
.news-thaco-content{
    padding-top: 60px;
    padding-bottom: 200px;
    @media(max-width : 1680px){
        padding-top: 50px;
        padding-bottom: 180px;
    }
    @media(max-width : 1440px){
        padding-top: 40px;
        padding-bottom: 160px;
    }
    @media(max-width : 1366px){
        padding-top: 30px;
        padding-bottom: 140px;
    }
    @media(max-width : 1199px){
        padding-top: 20px;
        padding-bottom: 120px;
    }
    .news-thaco-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item{
            width: 48%;
            display: flex;
            .item-img{
                width: 45%;
                .post-thumbnail{
                    width: 100%;
                    height: 100%;
                    a{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .item-content{
                width: 55%;
                padding: 20px 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: #f3f3f3;
                h5 a{
                    color: #2e3a41;
                }
                p.day{
                    margin: 5px 0 10px 0;
                }
                p.desc{
                    text-align: justify;
                    flex: 1;
                    @media(max-width : 1640px){
                        height: 75px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 4;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        margin-bottom: 70px;
                    }
                    @media(max-width : 1366px){
                        height: 75px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        margin-bottom: 66px;
                    }
                }
                .view-detail{
                    color: #2e3a41;
                    span{
                        margin-left: 10px;
                    }
                }
            }

        }
    }

    .news-thaco-list{
        display: flex;
        align-items: center;
        margin-top: 50px;
        justify-content: space-between;
        flex-wrap: wrap;
        .news-thaco-item{
            width: 40%;
            .mid{
               
            }
        }
        .item-shareholder{
            flex-direction: column;
            .item-wrap{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
        .desc-none{
            display: none;
            width: 100%;
            padding-left: 45px;
            margin-top: 10px;
            padding-bottom: 35px;
            border-bottom: 1px solid #2e3a41;
            .wrap{
                justify-content: space-between;
                display: flex;
                .desc-right{
                    a{
                        color: #fff;
                        background: $color-primary;
                        padding: 7px 10px 5px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    #myList li{ display:none;
    }
    #loadMore {
        color: #2e3a41;
        cursor:pointer;
        font-family: $font-my-bold;
        span:last-child{
            margin-left: 10px;
        }
    }
    #loadMore:hover {
        color:black;
    }
  
}


// hình ảnh video 
.image-gallery{
    padding-top: 60px ;
    h3{
        color: #444444;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .image-gallery-list{
        .day{
            color: #8b8b8b;
        }
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item-image{
            width: 23%;
            margin-bottom: 2%;
        }
        h5 a{
            color: #444444;
        }
    }
}
.video{
    padding: 30px 0 6px 0;
}