$font-primary : 'MyriadPro-Regular';
$font-primary-bold : 'MyriadPro-BoldCond';
$font-cond : 'MyriadPro-Cond';
$font-my-bold : 'MyriadPro-Bold';
$font-semi : 'MyriadPro-SemiboldCond';
$color-primary : #01498b;
$color787878: #787878;
$color-white: white;