$font-primary: "MyriadPro-Regular";
$font-primary-bold: "MyriadPro-BoldCond";
$font-cond: "MyriadPro-Cond";
$font-my-bold: "MyriadPro-Bold";
$font-semi: "MyriadPro-SemiboldCond";
$color-primary: #01498b;
$color787878: #787878;
$color-white: white;
$colorDark: #2e3a41;

$color-gray: #f6f6f6;
$color-placeholder-gray: #a6a6a6;
$color-primary-link: #1c76c3;
$color-primary-button: #01498b;
