.section-car-filter {
    padding-top: 60px;

    @media(max-width: 1680px) {
        padding-top: 55px;
    }

    @media(max-width: 1520px) {
        padding-top: 50px;
    }

    @media(max-width: 1366px) {
        padding-top: 45px;
    }

    @media(max-width: 1199px) {
        padding-top: 40px;
    }

    @media(max-width: 995px) {
        padding-top: 30px;
    }

    .car-filter {
        &__title {
            margin-bottom: 2.5%;

            // @media only screen and (max-width: 1080px) {
            //     display: none;
            //     font-size: 28px;

            // }

            // @media only screen and (max-width: 992px) {

            //     font-size: 25px;

            // }

            // @media only screen and (max-width: 767px) {

            //     font-size: 20px;
            // }

            // @media only screen and (max-width: 600px) {

            //     font-size: 15px;
            // }
        }

        &__title-mobile {
            display: none;
            margin-bottom: 2.5%;

            @media only screen and (max-width: 1080px) {
                display: block;
                font-size: 28px;

            }

            @media only screen and (max-width: 992px) {

                font-size: 25px;

            }

            @media only screen and (max-width: 767px) {

                font-size: 20px;
            }

            @media only screen and (max-width: 600px) {

                font-size: 15px;
            }
        }

        &--top {
            @media only screen and (max-width: 1080px) {
                display: none;
            }

            display: flex;
            justify-content: space-between;
            margin-bottom: 2.5%;

            .car-model {
                display: flex;
                flex-wrap: wrap;

                &__item {

                    width: 10.9vw;
                    cursor: pointer;
                    height: 2.7vw;
                    margin-right: 0.15vw;
                    background-color: #f6f6f6;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: #2E3A41;
                        position: relative;

                        &:after {
                            position: absolute;
                            content: "";
                            width: 0%;
                            height: 2px;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            background-color: $color-primary;
                            transition: width 400ms;
                        }
                    }

                    &.active, &:hover {
                        a:after {
                            width: 80%;
                        }
                    }

                    // @media only screen and (max-width: 1080px){
                    //     width: 15.5vw;
                    //     height: 4vw;
                    // }
                    span {
                        transition: 0.2s;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 0%;
                            height: 2px;
                            bottom: -5%;
                            left: 0;
                            background-color: $color-primary;
                            transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
                        }

                        @media only screen and (max-width: 1080px) {

                            font-size: 20px;

                        }

                        @media only screen and (max-width: 992px) {

                            font-size: 18px;

                        }

                        @media only screen and (max-width: 767px) {

                            font-size: 12px;
                        }
                    }

                    &:hover {
                        span {
                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    @include mobileHeight(57);

                    @media (max-width: 1080px) {
                        width: max-content;
                        @include mobilePaddingX(55);
                    }
                }

                .active {
                    span {
                        &::after {
                            width: 100%;
                        }
                    }
                }


            }

            @include mobileMarginBottom(40, "+");
        }

        &--top-mobile {
            display: none;

            @media only screen and (max-width: 1080px) {

                display: block;
                margin-bottom: 2.5%;

                &__title {
                    margin-bottom: 2.5%;

                    @media only screen and (max-width: 1080px) {

                        font-size: 28px;

                    }

                    @media only screen and (max-width: 992px) {

                        font-size: 25px;

                    }

                    @media only screen and (max-width: 767px) {

                        font-size: 20px;
                    }

                    @media only screen and (max-width: 600px) {

                        font-size: 15px;

                    }
                }

                .car-model {
                    display: flex;
                    background-color: #f6f6f6;
                    @include mobileMarginX(55, "-");
                    &__item {
                        margin-left: 4.5%;
                        margin-right: -5%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @media only screen and (max-width: 1080px) {
                            margin-left: 0;
                            margin-right: 0;
                        }

                        a {
                            width: 60px;
                            transition: 0.2s;
                            position: relative;
                            color: black;
                            &::after {
                                content: "";
                                position: absolute;
                                width: 0%;
                                height: 2px;
                                bottom: -5%;
                                left: 50%;
                                transform: translateX(-50%);
                                background-color: $color-primary;
                                transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
                            }

                            @media only screen and (max-width: 1080px) {

                                font-size: 20px;

                            }

                            @media only screen and (max-width: 992px) {

                                font-size: 18px;

                            }

                            @media only screen and (max-width: 767px) {

                                font-size: 12px;
                            }

                            @media only screen and (max-width: 600px) {

                                font-size: 10px;
                            }

                            @media only screen and (max-width: 600px) {
                                width: 30px;
                            }
                        }

                        &:hover {
                            a {
                                &::after {
                                    width: 60%;
                                }
                            }
                        }

                        @include mobileHeight(57);

                        @include mobilePaddingX(55);
                        @media (max-width: 1080px) {
                            width: max-content;
                        }
                    }

                    .active, &:hover {
                        a {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                    

                }

                @include mobileMarginBottom(40, "+");
            }
        }

        &--center {
            margin-bottom: 2.5%;
            display: flex;
            justify-content: start;

            @include mobileMarginBottom(35, "+");

            .provinces-select2 {
                width: 10.9vw;
                height: 2.7vw;

                @media only screen and (max-width: 1080px) {
                    width: 30%;
                }

                @media only screen and (max-width: 768px) {
                    width: 28%;
                }

            }

            .select2-container {
                font-size: 18px;
                font-family: $font-primary;
                line-height: 20px;

                @media(max-width : 1680px) {
                    font-size: 16px;
                }

                @media(max-width : 1440px) {
                    font-size: 15px;
                }

                @media(max-width : 1366px) {
                    font-size: 14px;
                }

                @media(max-width : 1270px) {
                    font-size: 13px;
                }

                @include mobileHeight(57);
            }

            .select2-container--default {
                .select2-selection--single .select2-selection__arrow {
                    top: unset;
                    right: 2%;
                }

                .select2-selection--single {
                    background-color: #f6f6f6;
                    // width: 10.9vw;
                    width: 100%;
                    height: 2.7vw;
                    display: flex;
                    // display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;

                    @media only screen and (max-width: 1080px) {
                        width: 100%;
                    }

                    @include mobileHeight(57);

                }

                .select2-results__option {
                    width: 10.9vw;
                    height: 2.7vw;

                }
            }

            .slider-range {
                padding: 0.5% 0;
                height: 2.7vw;
                width: 41.1vw;
                margin-left: 3vw;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: relative;

                @media only screen and (max-width: 1080px) {
                    width: 70%;
                    font-size: 20px;

                }

                @media only screen and (max-width: 768px) {
                    width: 72%;
                }

                &__value {
                    margin-bottom: 1%;
                }

                &__frame {
                    max-width: 100%;
                    flex: 1 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    position: relative;

                    .slider-range__line {
                        background: black;
                        height: 5px;
                        position: absolute;
                        left: 0;
                        z-index: 1;
                        border-radius: 2px;

                    }

                    .slider-range__button {
                        background: $color-primary;
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        z-index: 3;

                    }

                    input[type=range] {
                        position: relative;
                        -webkit-appearance: none;
                        width: 100%;
                        height: 4.5px;
                        background: #ddd;
                        border-radius: 2px;
                        outline: none;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                    }

                    input[type="range"]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 15px;
                        height: 15px;
                        background: $color-primary;
                        cursor: pointer;
                        border-radius: 50%;
                        position: relative;

                        &::after {
                            content: "";
                            background-color: transparent;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            inset: 0;
                        }
                    }

                    input[type="range"]::-moz-range-thumb {
                        width: 15px;
                        height: 15px;
                        background-color: transparent;
                        cursor: pointer;
                        border-radius: 50%;
                    }
                }
            }

            @media (max-width: 1080px) {
                #formPrice {
                    width: 100%;
                }

                .slider-range {
                    flex-grow: 1;
                }
            }
        }

        &--bottom {
            @include mobileMarginTop(40, "+");

            .modal-button {
                width: 100%;
                margin-right: 0.15vw;
                background-color: #f6f6f6;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                @include height(55);

                &:focus {
                    outline: none;
                    border: 0;
                }

                .frame {
                    display: flex;
                    align-items: center;
                    img {
                        padding-right: 0.3rem;
                    }
                    p{
                        color: black;
                        line-height: 1;
                    }
                    transition: 0.2s;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        bottom: -30%;
                        left: 0;
                        background-color: $color-primary;
                        transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }

                &:hover {
                    .frame {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        
    }
}
.overlay-filter {
    display: none;
    // position: absolute;
    background: #f8f8f8;
    // top: 100%;
    // width: 100%;
    max-height: 80%;
    z-index: 5;
    box-shadow: 0 0 18px rgb(0 0 0 / 12%);
    @include paddingX(50);
    @include paddingY(35);

    .row-filter {

        display: grid;
        grid-template-columns: 20% 80%;
        @include marginTop(60, "+");
        @media (max-width: 480px){
            display: flex;
            flex-wrap: wrap;
        }

        &:first-child {
            margin-top: 0;
        }

        &__title {
            font-family: $font-primary-bold;
            text-transform: uppercase;
            color: #333333;
            // @include paddingTop(30);
            @media (max-width: 480px){
                max-width: 100%;
                flex: 1 100%
            }
            
        }

        &__content {
            @include marginTop(30, "-");
            @include marginBottom(30, "-");

            .item {
                @include paddingY(30);

                .col-filter {
                    display: flex;
                    align-items: center;
                    .symbol {
                        border: 1px solid #333333;
                        border-radius: 50%;
                        position: relative;
                        @include width(20);
                        @include height(20);
                        @include lineHeight(68);
                        // width: 70px;
                        // height: 70px;
                        // line-height: 68px;
                        vertical-align: middle;
                        text-align: center;
                        margin-right: 1rem;

                        img {
                            vertical-align: middle;
                            max-width: 60%;
                            display: none;
                        }
                    }

                    .name {
                        color: #333333;
                        font-family: $font-primary;
                        text-align: center;

                        // @include marginTop(10, "+");
                    }

                    .name2 {
                        color: #333333;
                        font-family: $font-primary;
                        text-align: center;
                        width: 100px;
                        // @include marginTop(10, "+");
                        margin-left: -30px;
                    }

                    &.active {
                        .symbol {
                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                @include width(14);
                                @include height(14);
                                border-radius: 50%;
                                background-color: #01498b;

                            }

                            // &:after {
                            //     content: '';
                            //     display: block;
                            //     position: absolute;
                            //     top: 0px;
                            //     right: 6px;
                            //     width: 5px;
                            //     height: 9px;
                            //     border: solid white;
                            //     border-width: 0 2px 2px 0;
                            //     transform: rotate(45deg);
                            // }
                        }
                    }
                }
            }
        }
    }
}

// .overlay-filter.active {
//     display: block;
// }

.btn-join {
    &:focus {
        outline: none;
    }
}



.row_pre-order {

    &.mobile {
        display: none;
        text-align: right;
        @include marginBottom(40, "+");

        @media (max-width: 1080px) {
            display: block;
        }
    }
}

.pre-order {
    @include height(49.5);
    @include lineHeight(49.5);
    @include paddingX(49.5);
    margin-right: 0.15vw;
    border: 2px solid $color-primary;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    color: white;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        color: $color-primary;
        background-color: #f6f6f6;
    }

    @media (max-width: 1080px) {
        &.desktop {
            display: none;
        }
    }
}