.section-info-contact {
    padding-top: 90px;
    padding-bottom: 30px;
    @media(max-width : 1240px){
        padding-top: 20px;
    }
    .info-contact {
        background-color: #f3f3f3;
        .contact__title {
            padding-bottom: 30px;
        }
        .info-contact-form {
            .form-contact-us {
               padding: 55px;
               
                .form-group {
                    margin-bottom: 35px;
                    .text-label {
                        font-family: $font-primary-bold;
                        font-size: 20px;
                        padding-right: 0;
                        line-height: 15px;
                    }
                    .form-control {
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        background: unset;
                        border-bottom: .5px solid #A9A9A9;
                        border-radius: unset;
                        padding-left: 0;
                    }
                    textarea.form-control {
                        background: #fff;
                        padding-left: 10px;
                        padding-top: 10px;
                        border: unset;
                    }
                    select {
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        background: unset;
                        border-bottom: .5px solid #A9A9A9;
                        background: unset;
                        height: 35px; 
                        width: 200px;
                        margin-left: 8px;
                    }
                }
                .policy {
                    padding: 0;
                    .check-policy {
                        margin-top: -20px;
                        display: flex;
                        input {
                            margin-right: 15px;
                        }
                        label {
                            font-size: 13px;
                            text-transform: uppercase;
                            font-family: $font-primary;
                            margin-bottom: 15px;
                            line-height: 1.2;
                        }
                    }
                    button {
                        padding: 5px 33px;
                        border: none;
                        outline: none;
                        font-size: 15px;
                        text-transform: uppercase;
                        background-color: $color-primary;
                        border-radius: unset;
                       
                    }
                    @media(max-width : 1140px){
                        padding: 25px;
                    }
                }
            }

            .img-form{
                width: auto;
                img{
                    width: 100%;
                    height: 573px;
                    @media(max-width : 1240px){
                        height: 583px;
                    }
                    @media(max-width : 1140px){
                        height: 613px;
                    }
                    @media(max-width : 990px){
                       width: 97.5%;
                       transform: translateX(15px);
                    }
                    @media(max-width : 790px){
                        width: 96.5%;
                     }
                }
            }
        }
    }
    .detail-contact{
        background-color: #f3f3f3;
        margin-top: 15px;
        .content-contact{
            padding: 2%;
            .img-detail{
                width: 100%;

                img{
                    width: 100%;
                }
            }
            .detail-content-wrap{
                padding: 25px 25px -5px 25px;
                line-height: 30px;
                
                p > span{
                    margin-left: 10px;
                    
                }
                p{
                    color: #0054a0;
                }
                h3{
                    color: #565656;
                }
            }

        }
    }

}