.section-list-news-wrapper-mobile.mechandical {
    display: none;
    @media only screen and (max-width: 1080px){
        display: block;
    .page-pagination{
       
                display: block;
                display: flex;
                margin:  0 auto;
                .news{
                    font-size: 40px;
                    @media only screen and (max-width: 992px){
                        font-size: 25px;
                       
                    }
                    @media only screen and (max-width: 600px){
                        font-size: 15px;
                       
                    }
                    @media only screen and (max-width: 400px){
                        font-size: 12px;
                       
                    }
                    display: flex;
                    margin:  0 auto;
                  li{
                      margin-left: 20px;
                    @media only screen and (max-width: 600px){
                       margin-left: 0;
                       
                    }
                  
                    @media only screen and (max-width: 992px){
                        margin-left: 3px;
                        
                     }
                  }
                }    
        
    }
    @include marginBottom(80, "+");
    .section-list-news {
        .title{
           
        }
        @include paddingTop(60);
        .title {
            font-family: $font-my-bold;
            
        }
        .content { 
            margin-top: 3%;
            h3{
                
            }
            img {
                max-width: 100%;
            }
            .item {
                .item-mobile{
                    padding-bottom: 5%;
                    
                        .img{
                            .sub-left{

                                background-color: $color-primary;
                                text-align: center;
                                color: $color-white;
                                display: flex;
                                flex-wrap: wrap;
                                align-content: center;
                                width: 20%;
                                height: 28%;
                                position: absolute; 
                                padding: 30px 0;
                                @media only screen and (max-width: 992px){
                                    width: 20%;
                                    height: 25%;
                                }
                                
                                @media only screen and (max-width: 600px){
                                    width: 22%;
                                    height: 25%;
                                }
                                @media only screen and (max-width: 400px){
                                    width: 20%;
                                    height: 23%;
                                }
                                // @include width(200);
                                // @include height(196);
                                >div {
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                }
                                .day,
                                .month {
                                    font-size: 40px;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    line-height: 35px;
                                    @media(max-width : 700px){
                                        font-size: 25px;
                                    }
                                    @media only screen and (max-width: 992px){
                                        font-size: 35px;
                                        line-height: 35px;
                                    }
                                    @media only screen and (max-width: 768px){
                                        font-size: 30px;
                                        line-height: 28px;
                                    }
                                    @media only screen and (max-width: 600px){
                                        font-size: 18px;
                                        line-height: 18px;
                                    }
                                    @media only screen and (max-width: 400px){
                                        font-size: 15px;
                                        line-height: 15px;
                                    }
                                }
                                .year {
                                    font-size: 20px;
                                    @media(max-width : 700px){
                                        font-size: 15px;
                                    }
                                    @media only screen and (max-width: 992px){
                                        font-size: 18px;
                                    }
                                    @media only screen and (max-width: 768px){
                                        font-size: 15px;
                                    }
                                    @media only screen and (max-width: 600px){
                                        font-size: 10px;
                                    }
                                    @media only screen and (max-width: 400px){
                                        margin-top: -5px;
                                    }
                                }
                            }
                            .sub-right{
                                width: 100%;
                                padding-right: 0;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                        
                    
                }
               
            }
        }
    }
}
    
}

