.section-list-news-wrapper.mechandical {
    @media only screen and (max-width: 820px) {
        display: none;
    }
    @include marginBottom(60, "+");
    .section-list-news {
        @include paddingTop(60);
        .title a {
            // font-family: $font-my-bold;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            img {
                max-width: 100%;
            }
            .item {
                @include paddingY(50);
                border-bottom: 1px solid #d0d0d0;
                display: flex;
                width: 48%;
                &__left {
                    display: flex;
                    width: 48%;
                    margin-right: 10px;
                    @media (max-width: 768px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .sub--left {
                        background-color: $color-primary;
                        text-align: center;
                        color: $color-white;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        width: 30%;
                        min-width: 65px;
                        // @include height(200);
                        height: 100%;
                        line-height: initial;
                        >div {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .day,
                        .month {
                            font-size: 20px;
                            text-transform: uppercase;
                            font-weight: bold;
                            @media screen and(max-width: 1080px) {
                                font-size: 18px;
                            }
                        }
                        .year {
                            font-size: 20px;
                        }
                    }
                    .sub--right {
                        padding-left: 0;
                        // @include height(200);
                        height: 100%;
                        // @media (max-width: 768px) {
                        //     width: max-content;
                        // }
                        width: 70%;
                        position: relative;
                        a {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            img {
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }
                        @media (max-width: 992px) {
                            padding: 0;
                            flex-grow: 1;
                        }
                    }
                }
                &__right {
                    display: flex;
                    flex-direction: column;

                    width: 52%;
                    // @include paddingY(20);
                    @media (max-width: 768px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding-left: 0;
                    }
                    &__top {
                        flex-shrink: 0;
                        .title a {
                            // font-family: $font-primary;
                            color: black;
                            @include split_str(2);
                            @include marginBottom(12, "+");
                        }
                    }
                    &__bottom{
                        flex: 1;
                        .description {
                            color: #01498b;
                            font-family: $font-primary;
                            text-align: justify;
                            @include split_str(5);
                        }
                    }
                }
            }
            .item:nth-child(2n+1) {
                margin-right: 4%;
            }
        }
    }
}

.read-moree {
    position: absolute;
    right: 0;
    left: 85%;
    text-transform: uppercase;
    img {
        width: 4.3%;
        margin-top: -8.5px;
        margin-left: 5px;
        @media (max-width: 1440px) {
            margin-top: -6.5px;
        }
        @media (max-width: 1440px) {
            margin-top: -5.5px;
            width: 4.5%;
        }
    }
    &:hover {
        img {
            margin-left: 20px;
            transition: .5s ease-in-out;
        }
    }
}