@media only screen and (max-width: 1080px){
  #page-wrap{
    padding: 0;
  }
}

.deposit {
  @media (max-width: 1080px) {
    &-left, &-right {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

.section-step-menu-deposit{
  @media only screen and (max-width: 1080px){
    display: b;
    .container-remake{
        min-width:100% !important;
        max-width:100% !important;
    }
  padding-top: 0;
  }
  margin: 1.8% 0 2%;
  .step-menu{
      display: flex;
      background-color: #f6f6f6;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: 1080px){
        margin-top: -2%;
        .item-1, .item-3{
          display: none !important;
        }
      }
      @media only screen and (max-width: 992px){
        margin-top: -2%;
      }
      &__item{
          max-width: 33.33%;
          flex: 1 33.33%;
          text-align: center;
          padding: 0.8% 0;
          cursor: pointer;
          @media only screen and (max-width: 1080px){
            padding: 3% 0;
            margin-left: 4.8%;
            font-size: 28px;
            width: 100%;
          }
          @media only screen and (max-width: 992px){
            margin-left: 6%;
            font-size: 25px;
            padding: 4% 0;
          }
          @media only screen and (max-width: 767px){
           
            font-size: 18px;
          }
          @media only screen and (max-width: 400px){
            margin-left: 9%;
          }
        
          span{
              position: relative;
              width: fit-content;
              
              &::after{
                  content: "";
                  height: 2px;
                  width: 0%;
                  bottom: -70%;
                  left: 0;
                  background-color: $color-primary;
                  position: absolute;
                  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
                  @media only screen and (max-width: 1080px){
                    display: none;
                  }
              }
          }
      }
      .active, .step-menu__item:hover{
          span{
              &::after{
                  width: 100%;
              }
          }
      }
  }
}

.deposit {
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    @media (max-width: 768px){
      display: unset;
    }
    &.no-grid {
      display: block;
    }
    .max-w-4 {
      max-width: 400px;
      width: 100%;
    }
    .promotion {
      &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-gap: 1rem;
      }
      &__item {
        display: flex;
        flex-direction: column;
        img {
          margin-bottom: 0.2rem;
          
        }
      }
    }
    .form-group {
      .money-input{
        display: flex;
        .money{
          max-width: 70%;
          flex: 1 70%;
          input{
            border: none;
            width: 100%;
            box-shadow: none;
            padding-left: 4%;
          }
          input:disabled{
            background-color: white;
            opacity: 0.45;
          }
          
          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }
        }
        .unit{
          max-width: 30%;
          flex: 1 30%;
        }
        
      }
      input {
        height: 41px;
        outline: none;
        @media (max-width: 1080px) {
          height: 55px;
        }
        @media (max-width: 576px) {
          height: 45px;
        }
      }
      .dropdown {
        height: 41px;
        outline: none;
        background-color: #f6f6f6;
        border: unset;
        border-radius: unset;
        resize: none;
        
        .text {
          line-height: 1.5;
         
        }
        div.default.text {
          color: $color-placeholder-gray;
          @media only screen and (max-width: 1080px){
            color: #000;
          }
        }
        i.dropdown.icon {
          height: 100%;
          position: relative;
          top: 1px;
          left: 18px;
          color: $color-placeholder-gray;
        }
      }
    }
    .span-2 {
      grid-column: span 2;
    }
    @media only screen and (max-width: 1080px){
      .span-3 {
        grid-column: span 2;
      }
    }

    .form-control {
      background-color: $color-gray;
      border: unset;
      border-radius: unset;
      resize: none;
      
      &::placeholder {
        color: $color-placeholder-gray;
      }
    }

    .custom-control {
  
      .custom-control-label {
        margin-left: 0.5rem;
        line-height: 1.5;
        &::before {
          width: 18px;
          height: 18px;
          border: $color-placeholder-gray solid 1px;
          border-radius: unset !important;
          top: 0;
          left: -2.1rem;
        }
        &::after {
          top: 0.15rem;
          left: -2rem;
          background: no-repeat 80%/70% 90%;
        }
        a {
          color: $color-primary-link;
        }
      }
    }

    .custom-control-input {
      &:focus {
        outline: none;
        box-shadow: unset !important;
      }
      &:checked ~ .custom-control-label {
        &::after {
          background-image: url("../images/checked.png");
        }
        &::before {
          background-color: transparent;
        }
      }
    }
  }
  &__info {
    background-color: $color-gray;
    border-radius: 0.25rem;

    &-imagereview {
      padding: 2rem;
      img {
        object-position: center;
        object-fit: cover;
        transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
          &:hover{
              transform: scale(1.1);
          }
        @media only screen and (max-width: 1080px){
          display: table;
          margin: 0 auto;
          width: 70%;
        }
      }
    }
    &-total {
      padding: 2rem;
    }

    .text-danger {
      color: #ff0000 !important;
    }

    &-button {
      background-color: $color-primary-button;
      border-color: $color-primary-button;
      border-radius: unset;
      padding: 0.6rem;

      transition: all 0.2s ease-in-out;
      
      &:focus {
        outline: none;
        box-shadow: unset !important;
      }
      a{
        color: white;
      }
      &:hover{
          appearance: none;
          -webkit-appearance: none;
          border: 2px solid $color-primary;
          color: $color-primary;
          background-color: #f6f6f6;
          a{
              color: $color-primary;
          }
      }
    }
    
  }

  &__detail {
    
    padding: 0 5px;
    .card {
      border-radius: unset;
      border: unset;
      &:first-child {
        .card-header {
          & > div {
            border-top: unset;
            
          }
          
          h5{
            @media only screen and (max-width: 1080px){
              font-weight: lighter;
            }
          }
        }
      }
      &-header {
        .text{
          @media only screen and (max-width: 1080px){
            font-weight: lighter;
          }
        }

        .plus {
          &::after {
            content: "-";
            margin-left: 0.25rem;
            position: relative;
            top: -1px;
          }
        }
        .collapsed {
          .plus {
            &::after {
              content: "+";
            }
          }
        }
       
        border: unset;
        padding: 0 1.6rem;
        & > div {
          cursor: pointer;
          padding: 0.85rem 0.2rem 0.75rem;
          border-top: 1px solid $color-placeholder-gray;
        }
      }
      &-body {
        padding: 1rem 1.8rem;
        display: grid;
        grid-gap: 0.5rem;
        grid-row-gap: 0.75rem;
        grid-template-columns: repeat(2, 1fr);
        p {
          &:nth-child(even) {
            text-align: end;
          }
        }
      }
    }
    .collapse {
      border-radius: 0.25rem;
    }
  }
}
.btn-back-mobile{
  display: none;
  @include mobileMarginBottom(30, "+");
  @include mobileMarginTop(20, "+");
  @media only screen and (max-width: 1080px){
        appearance: none;
        -webkit-appearance: none;
        display: block;
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background-color: #01498B;
        color: white;
        border: none;
        outline: none !important;
       
        a{
          color: white;
        }
      }
      @media only screen and (max-width: 600px){
          width: 200px;
      }
       
}
@import "./installment";
