$color-gray: #f6f6f6;
$color-placeholder-gray: #a6a6a6;
$color-primary-link: #1c76c3;
$color-primary-button: #01498b;

.deposit {
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    .form-group {
      input {
        height: 41px;
        outline: none;
      }
      .dropdown {
        height: 41px;
        outline: none;
        background-color: #f6f6f6;
        border: unset;
        border-radius: unset;
        resize: none;
        .text {
          line-height: 1.5;
        }
        div.default.text {
          color: $color-placeholder-gray;
        }
        i.dropdown.icon {
          height: 100%;
          position: relative;
          top: 1px;
          left: 18px;
          color: $color-placeholder-gray;
        }
      }
    }
    .span-2 {
      grid-column: span 2;
    }
    .form-control {
      background-color: $color-gray;
      border: unset;
      border-radius: unset;
      resize: none;
      &::placeholder {
        color: $color-placeholder-gray;
      }
    }

    .custom-control {
      .custom-control-label {
        margin-left: 0.5rem;
        line-height: 1.5;
        &::before {
          width: 18px;
          height: 18px;
          border: $color-placeholder-gray solid 1px;
          border-radius: unset !important;
          top: 0;
          left: -2rem;
        }
        &::after {
          top: 0;
          left: -2rem;
          background: no-repeat 80%/70% 90%;
        }
        a {
          color: $color-primary-link;
        }
      }
    }

    .custom-control-input {
      &:focus {
        outline: none;
        box-shadow: unset !important;
      }
      &:checked ~ .custom-control-label {
        &::after {
          background-image: url("../images/checked.png");
        }
        &::before {
          background-color: transparent;
        }
      }
    }
  }
  &__info {
    background-color: $color-gray;
    border-radius: 0.25rem;

    &-imagereview {
      padding: 2rem;
      img {
        object-position: center;
        object-fit: cover;
      }
    }
    &-total {
      padding: 2rem;
    }

    .text-danger {
      color: #ff0000 !important;
    }

    &-button {
      background-color: $color-primary-button;
      border-color: $color-primary-button;
      border-radius: unset;
      padding: 0.6rem;

      transition: all 0.2s ease-in-out;
      &:focus {
        outline: none;
        box-shadow: unset !important;
      }
    }
  }

  &__detail {
    padding: 0 5px;
    .card {
      border-radius: unset;
      border: unset;
      &:first-child {
        .card-header {
          & > div {
            border-top: unset;
          }
        }
      }
      &-header {
        .plus {
          &::after {
            content: "+";
            margin-left: 0.25rem;
            position: relative;
            top: -1px;
          }
        }
        border: unset;
        padding: 0 1.6rem;
        & > div {
          cursor: pointer;
          padding: 0.85rem 0.2rem 0.75rem;
          border-top: 1px solid $color-placeholder-gray;
        }
      }
      &-body {
        padding: 1rem 1.8rem;
        display: grid;
        grid-gap: 0.5rem;
        grid-row-gap: 0.75rem;
        grid-template-columns: repeat(2, 1fr);
        p {
          &:nth-child(even) {
            text-align: end;
          }
        }
      }
    }
    .collapse {
      border-radius: 0.25rem;
    }
  }
}
