#installment-modal {
  /* Custom styling */
  max-width: 100%;
  width: 1025px;

  /* Custom transition - fade from top*/
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.3s;
}

.fancybox-slide--complete #installment-modal {
  opacity: 1;
  transform: translateY(0);
}
