#installment-modal {
  /* Custom styling */
  max-width: 100%;
  width: 1025px;

  /* Custom transition - fade from top*/
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.3s;
  background-color: $color-gray;
  .required {
    &::after {
      content: "*";
      color: #f52538;
    }
  }
  .deposit__form-gray {
    background-color: $color-gray;
    .form-group {
      .dropdown {
        background-color: white;
      }
    }
  }
}

.fancybox-slide--complete #installment-modal {
  opacity: 1;
  transform: translateY(0);
}
