@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-SemiboldCond.eot');
    src: url('MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-SemiboldCond.woff2') format('woff2'),
        url('MyriadPro-SemiboldCond.woff') format('woff'),
        url('MyriadPro-SemiboldCond.ttf') format('truetype'),
        url('MyriadPro-SemiboldCond.svg#MyriadPro-SemiboldCond') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

